[2016-03-12 16:13] patrick-rodgers opened #2 "Core.JavaScript: Util.ts - other external dependencies"
When we're building the Util.ts (general JavaScript helpers/utilities), we will probably start to reflect many of the functions that already exists in underscore.js (http://underscorejs.org/).

Is this a problem? Could it be an idea to depend on it? The production dist is very lightweight (approx 5kb).

[2016-03-12 16:16] patrick-rodgers opened #3 "Bower distribution"
Create and document a bower distribution package. Need to work with core team as Microsoft needs to "own" the package

[2016-03-12 16:21] patrick-rodgers opened #4 "Gulp Packaging"
Need to create decide on and create a clean build/package process for the "dist" folder. This will be used potentially by various packages so need to address minification and module design.

[2016-03-12 16:27] patrick-rodgers opened #5 "Developer Dashboard"
Create a developer dashboard based on [the example ](https://github.com/OfficeDev/PnP/blob/master/Samples/Core.JavaScript/Core.JavaScript.CDN/js/pnp-devdashboard.js) from the first core library.

[2016-03-12 16:29] patrick-rodgers opened #6 "Documenation Generation"
Looking to automate the creation of documentation pages for the core API. We will still need to author samples and examples. Research using JSDoc or similar to convert code comments into markdown pages.

[2016-03-18 14:53] StfBauer commented on #3
Hi @patrick-rodgers,
I can take a look for the bower distribution stuff because I previously added a couple of things to bower.
The only thing that needs to be done by your team is to publish to bower.

[2016-03-18 14:58] StfBauer commented on #4
I can take a look into this as well, if you like.

[2016-03-24 14:38] pbjorklund commented on #6
I remember watching a recorded weekly call about removing the dependency on jQuery. Could not find  a follow up discussion on yammer so I'm asking here. What has been discussed? Any progress? (Seems related to _ as well)

[2016-03-27 15:12] pbjorklund opened #18 "Adher to TS doc naming conventions for interfaces? (styleguide?)"
In http://www.typescriptlang.org/docs/handbook/writing-definition-files.html says:

_In general, you shouldn’t prefix interfaces with I (e.g. IColor). Because the concept of an interface in TypeScript is much more broad than in C# or Java, the IFoo naming convention is not broadly useful._

What stances does this repo take? Is there a styleguide being worked on to declare things like naming conven

[2016-03-28 17:25] patrick-rodgers commented on #18
We have discussed a need for a style guide, but as with so many things it is on the todo list. Hoping to make some progress this week now that I am back on some of the documentation related activities. Welcome any help of course :)

As for interface names - that makes sense, we should try and adhere to the published handbook, so likely have some changes to make in the code related to this.

[2016-03-28 17:30] patrick-rodgers commented on #4
That would be great - can discuss on this weeks call as well.

[2016-04-02 08:22] pbjorklund opened #24 "Utility methods, when is a util method warranted?"
[code]

This reminds me of when the other PnP repo had the helper method to generate a SecureString. It was later removed due to not having the right "height".

[code]
This is hard coded against an english locale. If a good library for handling dates is needed I would suggest handling it in in the application using the PnP library with something like moment.js vs us handling dates this way in the

[2016-04-02 08:49] nerdondon commented on #2
hi patrick,
regarding underscore, i think that the tendency of the community has moved towards lodash over underscore and i believe that there are performance reasons for this as well.

another thing to consider here is that lodash makes individual modules available on npm. so we can cherry pick only the necessary modules if size really is an issue. Personally, I don't see 5kb as too big

[2016-04-02 10:03] pbjorklund commented on #6
After writing some docs today I'm fully in agreement with that they should be auto-generated and we can have separate samples and usage examples.

Documenting by hand will work as long as the repo is small, but maintaining the docs will take quite an effort.

Got any idea's in mind of how to document usage patterns? Personally I like having some snippets to look at to see how things are supposed t

[2016-04-02 10:04] pbjorklund commented on #4
What's wrong with the current ```package``` gulp task? Seems to do the job? :)

[2016-04-04 15:33] patrick-rodgers commented on #4
Yes, I think we are OK here for now. This issue was created before I checked in the latest package script updates. We will continue to evolve, but I'll go ahead and close this issue. We can reopen if needed.

[2016-04-04 15:33] #4 closed

[2016-04-07 14:09] pbjorklund opened #33 "Latest merge removed all tests from build"
Removing

[code]

from the build-typings task makes the tests actually compile again.

Should be fixed.

[2016-04-07 20:50] alex-randall commented on #5
Hi Patrick, you'll have to let us know what kind of help wanted you were looking for on this... some enhancements, future directions, immediately need?  What exactly?  Thanks!

[2016-04-07 21:16] alex-randall commented on #6
+1 for autogenerated documentation if at all possible.  I experience the same pain myself with customer-specific reusable libraries that are written by hand.  So difficult to keep it up to date, especially with the new ease of refactoring and growth of the library itself, which is inevitable.

Also, we should consider having relevant examples in the api documentation as well.  I personally find so

[2016-04-08 14:44] patrick-rodgers commented on #5
This is likely not an immediate need. Also, based on the recent thinking around not including any DOM manipulation within the core library this would likely become an external module that uses the library (by subscribing to the logging API). I do want to keep it listed as I think there will be value in having the dev dashboard.

[2016-04-08 14:48] patrick-rodgers commented on #33
Yes, actually caught this as well. Was so focused on getting the packaging work that I missed that I broke tests. Working on a fix now, deciding what to do. I don't necessarily want to include the tests in the lib for the npm package so might have a separate build folder and lib folder is just for packaging. Thanks for catching this.

[2016-04-08 16:02] patrick-rodgers commented on #33
Should be fixed now, please have a look and confirm that "gulp test" works with latest dev branch.

[2016-04-08 16:11] pbjorklund commented on #33
Yes @patrick-rodgers, test are running again :)

[2016-04-08 18:20] patrick-rodgers commented on #33
Thanks for confirming, closing the issue.

[2016-04-08 18:20] #33 closed

[2016-04-08 19:33] alex-randall commented on #5
Yep agreed.  Thanks!

[2016-04-13 15:25] alex-randall opened #36 "ISSUE: No $pnp or pnp global object when using in Visual Studio (not Visual Studio Code)"
Update:

**_This may wider that just Visual Studio 2015... maybe issue with generated TypeScript definition file itself? It was reported on 4/28/2016 that the modern style of including the pnp.d.ts into a file doesn't work?  Need people to help figure this out, repro and also come up with a solution asap for all of us to review!_**

Has anyone attempted to use our TypeScript definition "pnp.d.ts"

[2016-04-13 15:45] alex-randall commented on #6
FYI-I've done some research on this, there are some generators out there.  Even found one for gulp!
But found that one or many of these are true for them:

 - the output is not that good
 - only works with JavaScript
 - the project has been abandoned a long time ago

So probably rolling our own is our best option to achieve really good autogenerated documentation people can actually use.

Good new

[2016-04-13 20:56] alex-randall opened #37 "Should the mock classes be refactored out of main library?"
Should the mock classes

MockConfigurationProvider
MockLocation
MockStorage

not be a part of the final compiled pnp.d.ts, pnp.js and pnp.min.js?

Reasons:
- end users wouldn't not really use these directly in a SharePoint Page as they are for unit testing only...
- having them in the main pnp.js library adds additional bits and overhead to the library to not only download them to the browser, but

[2016-04-13 21:49] alex-randall commented on #2
Less external library dependencies we have, the easier it will be to use and not cause potential runtime conflicts (thinking site owner scenarios who are coding JavaScript in Script Editor/Content Editor Web Parts and many others).

[2016-04-14 13:24] pbjorklund commented on #37
I don't think this is "small", it's a very valid point. Anything purely related to tests should not be part of the dist. @patrick-rodgers has started the work on moving tests out from the old structure where each .ts file had a matching tests.ts file. See the sharepoint/rest/tests folder.

What about using the same structure as https://github.com/Microsoft/TypeScript with a separate /test folder u

[2016-04-14 13:30] pbjorklund commented on #6
It would be great if you could note in this issue what solutions you have evaluated so everyone else can contribute if they have some tips before going the "roll our own route" :)

Kudos for sharing that you are working on this!

[2016-04-14 13:57] alex-randall commented on #6
Thanks Patrik, rightly so and agree.  Will reply back with details.

[2016-04-14 15:21] patrick-rodgers opened #40 "Library unit testing against SharePoint (can we create a web, list, etc)"
Need to begin working on development of a PnP PowerShell script to provision a test site, upload our test files, and then instructions to execute them.

Idea would be that you can execute a PowerShell script to create a dev site with required files (pnp.js, pnp.tests.js ??) and then instructions to execute those tests. This would allow us to have lists, items, files etc we can test against in a co

[2016-04-14 15:32] tobiaswest83 opened #41 "Gracefully fail gulp task when settings.js missing"
Happy to pick this up, logging in order to prevent duplication of effort

1) update the getting started guide to include a step for creating your settings.js for spsave
2) Update gulpfile.js in order to gracefully fail and signpost users to the getting started for how to create the settings file.

@patrick-rodgers  - let me know if you're happy for me to proceed - you may not want the gulpfile.js

[2016-04-14 15:34] pbjorklund opened #42 "Move .md files to the wiki"
My idea is to keep a clean README.md in the root repo and reference the wiki from that readme.

[2016-04-14 15:58] alex-randall commented on #42
How about generated documentation?

.md for those, and sitting under /docs?

Also wouldn't it be nice in the future to have nice navigation/breadcrumb between all docs?  These were the kinds of things I wanted to experiment with...  Hard to do on wiki if it's manual approach.

I personally tend favor .md so that it can be automated perhaps in the future because everything is in one format and easy

[2016-04-14 16:00] alex-randall commented on #41
Speaking of parallel tasks... I am experimenting now with breaking the gulpfile.js out into separate files because it's starting to get large (especially for the future documentation generation task)...

[2016-04-14 16:13] tobiaswest83 commented on #41
I think it's a great idea, gulp can very quickly become unmanageable. It will allow newcomers to gulp to get to grips with it too. Makes sense for it to be a separate issue as how we structure it is debate in itself!

[2016-04-14 16:22] alex-randall opened #43 "Break gulpfile.js into separate files under a buildtasks sub directory"
Patrick - Please assign me (alex-randall) this task as I am actively working on it and will have a pull request soon with it (1-2 days).

Background:
Gulpfile.js is starting to get large, but also anticipate much more growth in the future (such as for autogeneration of documentation).

Talked with Patrick about this offline.

I've already started work on breaking it apart and putting each task in

[2016-04-14 16:32] alex-randall commented on #41
Done https://github.com/OfficeDev/PnP-JS-Core/issues/43

I will prioritize with me fixing that first (1-2 days as I've already started the work) so you can have the updates asap so you can do this fix you are proposing.  (I think it's a great idea!)

[2016-04-14 16:37] alex-randall commented on #40
While I love PowerShell, it only works with windows.
Wonder if there is a gulp only way to do this that would work on all platforms, not just ours...

I know the pnp library (or other supporting libraries) "might" solve this in the future (working from NPM directly to deploy thing directly to SharePoint sites through REST), but we need something "now".

Short term would be PowerShell
Longer term w

[2016-04-14 16:43] alex-randall commented on #24
Wondering if we should not expose these util methods outside the library publically (and just use them internally) since there might be some overlap with other libraries out there.

Or... maybe a select few functions in it should be public?

[2016-04-14 20:14] tobiaswest83 commented on #41
Created PR #44 for this

[2016-04-15 06:49] pbjorklund commented on #24
I like having some of them exposed for doing things that are clunky. However I think they should be exposed via their own classes instead of through a 'Util' class (most obvious crime against separation of concerns)

[2016-04-15 12:54] sympmarc opened #45 "Quick Start Guide and settings.js"
This is definitely a dumb one. When I follow the Quick Start Guide and run gulp serve, I get the following error:

Looks like I need to create a settings.js file, probably from settings.example.js. There's nothing in the Quick Start Guide that describes that step, and there probably should be.

[2016-04-15 13:40] alex-randall commented on #45
Thanks for the pull request to make the documentation better!  :)

[2016-04-15 18:46] alex-randall commented on #43
This work has completed and I have submitted it in pull request https://github.com/OfficeDev/PnP-JS-Core/pull/47

[2016-04-15 18:48] alex-randall commented on #45
Patrik, I just submitted a pull request that fixes this too as part of the breaking apart of the gulpfile.js into smaller chunks: https://github.com/OfficeDev/PnP-JS-Core/pull/47

[2016-04-15 22:34] alex-randall commented on #6
As promised, here's NPM and gulp libraries I've looked at for generating GitHub flavored markdown (.md) from TypeScript files.

**Summary:**

As I already stated, most libraries support JavaScript only as the source.  Some support TypeScript as the source, but output was html (not markdown).  Some have other issues.  See below.

**Details:**

http://typedoc.io/, https://www.npmjs.com/package/gulp-

[2016-04-16 09:48] pbjorklund commented on #45
The best problem is a problem that someone else solves for you :)

[2016-04-16 09:56] pbjorklund commented on #42
You can clone the wiki as a git repo.

Perhaps "human related" things should go in the wiki and autogenerated into /docs.
Then we can link to the /docs/api/ files from the wiki when writing more human oriented documentation.
For instance usage examples will be hard to autogenerate if they are not written as comments directly in the source code; which is a bad idea.

So I suggest moving the .md fil

[2016-04-16 10:01] tobiaswest83 commented on #41
@alex-randall, looks like you made the appropriate changes in #47 for handling settings.js so this is perhaps redundant now?

[2016-04-18 14:43] patrick-rodgers commented on #45
Closing this as it was fixed in a PR.

[2016-04-18 14:43] #45 closed

[2016-04-18 14:44] patrick-rodgers commented on #43
Closing issue as it was resolved with PR. Thanks!

[2016-04-18 14:44] #43 closed

[2016-04-18 14:45] patrick-rodgers commented on #41
Closing this as the fix was made in the referenced PR. Thanks!

[2016-04-18 14:45] #41 closed

[2016-04-18 14:55] patrick-rodgers commented on #37
This is something we talked about in early days and folks felt like having the .test.ts file along side the .ts file made it clearer and more obvious. At the time I agreed, but now that we have already grown and will continue to grow I am leaning towards moving to a separate test folder. I think it would be cleaner and reduce the "clutter" in the src folders. If you want to commit to moving things

[2016-04-18 14:57] patrick-rodgers commented on #40
Well, this is for us to use when testing the library, so I am OK with it being PowerShell. Another alternative would be to have a provider hosted application to do it via CSOM. Not something I am necessarily worried about being distributed (though folks would be welcome to use it) but more of a tool for us internally on the project.

[2016-04-18 15:00] patrick-rodgers commented on #42
Have been thinking on this one myself, I think looking at other projects there is no consensus. I think it would be cleaner to just point at the wiki, but my one other thought is that maintaining the docs in the project allows them to version along with the code. So that if I go back and for some reason pull v1.5 when the latest is v1.8 the 1.5 docs would still be relevant and correct for that ver

[2016-04-18 15:05] patrick-rodgers commented on #24
Where possible I want to avoid referencing other libraries since it would force a consumer to also include that lib to use ours. The dateAdd is there because I needed something for the cache expire stuff. I don't really want to handle dates universally. IsFunction is similar, we need that test and it takes up three lines, so I prefer not to take a dep to get three lines of code. Some of the other

[2016-04-18 15:07] patrick-rodgers commented on #18
Going to close this issue and create a starting page for a style guide in the wiki. Initially we will just use the link you provided, but can grow/update as our needs dictate.

[2016-04-18 15:07] #18 closed

[2016-04-18 15:36] patrick-rodgers commented on #36
This syntax works for me:

[code]
The first line gives the ref to the typings file and the second is the actual "import" into your code.

[2016-04-18 18:42] patrick-rodgers opened #51 "Enhance add/update/delete, add to additional classes"
I'll take a start at updating the add/edit/delete methods as we discussed on the last call, as well as adding those methods to other classes such as item/view/etc.

[2016-04-18 18:44] patrick-rodgers commented on #6
I am marking this with the assigned label to you @alex-randall. Appears I can't actually assign unless I add everyone to the team. Looking at those options as well.

[2016-04-18 22:55] alex-randall commented on #6
Yep sounds good and thanks!

[2016-04-18 22:58] alex-randall commented on #36
Thanks Patrick, will try and report back.

[2016-04-19 13:30] patrick-rodgers opened #52 "Create types.ts as a starting point for complex types"
https://msdn.microsoft.com/en-us/library/office/dn600183.aspx

Not going to add them all, but need ChangeQuery for get changes for lists. This will help with the building out of our types/interfaces as discussed on the last weekly call.

[2016-04-19 19:04] patrick-rodgers opened #53 "Code out lists, list items, views and fields REST API"
https://msdn.microsoft.com/en-us/library/office/dn531433.aspx

https://msdn.microsoft.com/en-us/library/office/dn600182.aspx

[2016-04-20 15:28] patrick-rodgers opened #54 "Code out files and folders REST API"
Expand the existing files and folders classes to support all methods as outlined [here ](https://msdn.microsoft.com/en-us/library/office/dn450841.aspx).

[2016-04-20 15:28] patrick-rodgers opened #55 "Code out Users, Groups, and Roles REST API"
Code out the users, groups and roles REST API as outlined [here](https://msdn.microsoft.com/en-us/library/office/dn531432.aspx).

[2016-04-20 15:29] patrick-rodgers opened #56 "Code out Webs REST API"
https://msdn.microsoft.com/en-us/library/office/dn499819.aspx

[2016-04-20 15:31] patrick-rodgers opened #57 "Code out User profiles REST API"
Code out the user profiles rest api based on the reference [here](https://msdn.microsoft.com/en-us/library/office/dn790354.aspx).

[2016-04-20 20:43] derek-smith commented on #54
Here I am :)

[2016-04-20 21:11] patrick-rodgers opened #59 "Code out Search REST API surface"
[Here is a start](https://msdn.microsoft.com/en-us/library/office/jj163876.aspx) for documentation. Lots of cool possibilities here, can probably hang it off Web or Site (or both).

[2016-04-20 21:13] patrick-rodgers commented on #54
All set, you're assigned. Thanks!

[2016-04-20 21:30] derek-smith commented on #54
Thank you sir. I'm very excited to contribute!

[2016-04-21 14:14] tobiaswest83 commented on #59
Happy to look at this one if you like

[2016-04-21 15:16] patrick-rodgers commented on #59
Great, it's all yours!

[2016-04-21 15:19] sympmarc commented on #59
If it's at all useful from a comparison perspective, this is what I did for the SOAP Services in SPServices: https://spservices.codeplex.com/documentation

IMO, it's important that the examples actually DO something - and not something that no human would ever want to do.

There has to be a good index that gets people to the right place in a couple of clicks, and not only by using Google.

And any

[2016-04-21 15:28] tobiaswest83 commented on #59
Thanks a lot @sympmarc.

There's a great discussion in #6 about automatic document generation using JSDOC and i assume we're using jsdoc comment notation @patrick-rodgers?

[2016-04-21 15:55] patrick-rodgers commented on #2
Going to close this one - I think great points and we will aim to limit the number dependencies. This is why we have created our own utils library to not take a dependency for a few lines of code. Thanks for the input guys!

[2016-04-21 15:55] #2 closed

[2016-04-21 20:45] patrick-rodgers commented on #53
#60

[2016-04-21 20:45] #53 closed

[2016-04-21 20:45] patrick-rodgers commented on #51
#60

[2016-04-21 20:45] #51 closed

[2016-04-21 20:46] patrick-rodgers commented on #52
#60 Will continue to add types as needed based on reference.

[2016-04-21 20:46] #52 closed

[2016-04-21 20:46] patrick-rodgers commented on #56
#60 Got common methods done, can expand as time allows for some of the less common.

[2016-04-21 20:46] #56 closed

[2016-04-22 18:55] mike-morrison opened #61 "My wish list"
## Feature wish list from putting on my JavaScript/Office developer hat.

`Disclaimer: This is just food for thought.  I just rambled out some features "I" would love to use assuming infinite resources.  A lot of these might be more appropriate to be a project built on top of this project or not at all.`

### **Things I like in other projects**
- The project would have a snappy one liner or a miss

[2016-04-24 00:30] sympmarc commented on #61
It was a great list, though!

[2016-04-24 00:31] dzearing commented on #61
+1

[2016-04-24 14:17] pbjorklund commented on #37
#62 handles this.

[2016-04-24 14:18] pbjorklund commented on #42
@patrick-rodgers so, what do you think about my suggestion above? "moving the .md files from the docs folder to the wiki and keep the .md files under /docs/api where they are"

[2016-04-24 17:25] mike-morrison commented on #61
Sorry for taking it down.

[2016-04-24 17:29] tobiaswest83 commented on #61
@mike-morrison, lots of cool ideas in here - I'm building the search APi at the moment & will certainly take on board what you said regarding the response data, since it's quite unfriendly by default.

### React

At the moment, the library is, I believe looking to be agnostic of technology as it builds the core services. As focus shifts once the v1 milestone has been reached, I'm almost certain

F

[2016-04-24 18:24] mike-morrison commented on #61
@tobiaswest83 I agree.  The React Fabric components in my head are in a project built using this project.  At most in this project it would just be as a technology specific quick start or example.

IMO, PnP *should* be as technology agnostic as possible.

That Angular 1 project is pretty much what I would love to have except with React.

[2016-04-24 21:58] tobiaswest83 opened #64 "LocaleID enumeration"
Should we implement a LocaleID enumeration, based on the table [here](https://msdn.microsoft.com/en-us/goglobal/bb964664.aspx)?

It's used in quite a number of place and I for one am forever having to keep coming back to that table during my working hours.

[2016-04-25 15:05] patrick-rodgers commented on #64
We could, though I don't think it is necessary. Just providing the ability to pass a number is sufficient to me.

[2016-04-25 15:39] patrick-rodgers commented on #24
Going to close this issue - I think we are in agreement that we need to limit the utility code we write, while keeping a focus on not taking dependencies for a few lines of code in some other library. In other words I think take what we absolutely need to make our library work. Then folks can use whatever they want outside that in their projects.

[2016-04-25 15:39] #24 closed

[2016-04-25 15:43] tobiaswest83 commented on #64
OK great, I'll close this now then.

[2016-04-25 16:23] patrick-rodgers commented on #37
Closing this as it was indeed resolved by #62. Great work by @pbjorklund on this.

[2016-04-25 16:23] #37 closed

[2016-04-25 17:26] pbjorklund commented on #64
Why not just create an enum for it? Should work fine (at least from what I gather from https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#9 and the test below)

Test
[code]

Partial implementation
[code]

[2016-04-25 17:32] patrick-rodgers commented on #64
Yes, an enum is all we need for this. If someone wants to add it, that's fine with me.

[2016-04-25 17:33] tobiaswest83 commented on #64
That's what I was planning to do, I'll implement it as part of the search PR, feel free to assign this to me

[2016-04-25 17:39] pbjorklund commented on #64
#67

[2016-04-26 07:02] pbjorklund opened #68 "Split types.ts"
Should we split the interfaces in types.ts to own files?

Usage of type is now ```import * as Types from "./types";``` will have to become ```import { Type } from "./types/type.ts";```

[2016-04-26 16:57] patrick-rodgers commented on #68
I keep going back and forth on this one in my head. These are just type defs / interfaces to help with typing return values and parameters - likely would never need to use them separately. We could move to individual files and play with the TypeScript namespace/module merging and see. I would like to keep the ability to just include "types" whatever the syntax is - and not have to include lots of

[2016-04-26 21:33] patrick-rodgers commented on #64
This was done and merged into dev - so closing issue. Thanks @pbjorklund and @tobiaswest83.

[2016-04-26 21:33] #64 closed

[2016-04-26 21:35] patrick-rodgers commented on #42
do you mean create /docs/api in the wiki? If yes I think that is fine. We don't have an answer on doc generation so I am not sure it will matter yet where they live.

[2016-04-27 17:35] patrick-rodgers commented on #59
Closing due to work in #70.

[2016-04-27 17:35] #59 closed

[2016-04-27 17:35] patrick-rodgers commented on #57
Closing due to work done in #69.

[2016-04-27 17:35] #57 closed

[2016-04-28 14:20] pbjorklund commented on #68
Assign this to me and I'l create a PR that shows it in action and we can decide if good or bad idea after.

[2016-04-28 15:11] patrick-rodgers commented on #68
All set, thanks for having a look.

[2016-04-28 15:26] alex-randall commented on #6
Update:

- **Need help from others** to see if we can use https://www.npmjs.com/package/gulp-typedoc/ (right now errors out for me, details below)
- Because of that failure, **I have started "Plan B"** (write a custom "pnp.d.ts parser" task (to json) and then a custom task that takes the json, parse it, and output to .md files) and will continue on this route unless someone gets the above to work.

[2016-04-28 15:31] patrick-rodgers commented on #36
So it looks to me that we would have to produce a set of es6 *.js files in the lib package and then have a separate build path for the pnp.js file that produces UMD. I guess I'll take a look at this one, which puts samples on the back burner unfortunately.

[2016-04-28 15:40] alex-randall opened #71 "Samples/Documentation to be created?"
Here is a list of documentation/sample topics that I feel would help if people visit our site they can use our library immediately (along with API documentation of course, which is being worked on here: https://github.com/OfficeDev/PnP-JS-Core/issues/6).

Some or all of these maybe put in the wiki? Some may be in the sample project @patrick-rodgers demoed and/or both?  A lot of these I envision sc

[2016-04-28 16:05] alex-randall commented on #36
Cool thanks @patrick-rodgers. Sounds like that might handle the es6 side of things.  We'll see how it goes.

Maybe related questions:

1) I could be wrong, but doesn't the `import PnP = require("pnp"); ` syntax requires a (typing and runtime) dependency on requirejs?  I thought we didn't have any dependencies (at runtime) other than things that SharePoint itself provides on a SharePoint page?

2)

[2016-04-28 16:29] alex-randall opened #72 "utils/logging.ts - require() should be changed?"
In working on the [documentation generation](https://github.com/OfficeDev/PnP-JS-Core/issues/6), I noticed that in utils/logging.ts, there is a line near the top that is:
`import Collections = require("../collections/Collections");`

This one time occurrence is actually output in the pnp.d.ts TypeScript definition file.

Shouldn't that be changed instead to something like
`import { Collections } f

[2016-04-28 19:31] tobiaswest83 commented on #6
yo @alex-randall, been thinking about this (not coding!)....if the issue is a lack of support for TypeScript, why don't we create a version of the build which transpiles the TypeScript with comments and use JSDoc from there? I'm happy to pick it up

[2016-04-28 19:49] mike-morrison commented on #72
I say make it consistent.

[2016-04-28 20:40] patrick-rodgers opened #74 "Remove remaining jQuery refs in src"
Would like to see us get the remaining jQuery refs out of ./src There aren't many and would remove a dependency for users.

[2016-04-28 20:56] alex-randall commented on #74
Agreed!  We need to have as few dependencies as possible so the widest array of people can use it.  Some companies have very specific restrictions on using "library x" or not.

[2016-04-28 21:05] patrick-rodgers commented on #72
Fixed in #75

[2016-04-28 21:05] patrick-rodgers commented on #36
Updated in #75, now supports:

import pnp from "sp-pnp-js";

[2016-04-28 21:11] alex-randall commented on #6
Hi @tobiaswest83 , thanks for bringing that up and asking!

I considered that too (should have notated that above), but if we go that route, then you lose the TypeScript richness.  I personally don't find that acceptable, even for v1.  ;)

Good news is that the parsing approach is going well!  :)  I've found that because it's the TypeScript definition file I'm using as the source of the parsing, e

[2016-04-29 02:13] mike-morrison commented on #36
@patrick-rodgers New package is not working in jspm (and I suspect npm as well since jspm is simply downloading the npm package).

Here is the top of pnp.js that was downloaded from the 0.10 (confirmed in package.json) npm package.

It doesn't look like it got transpiled to ES5

[code]

[2016-04-29 04:26] mike-morrison commented on #36
Forgot to mention, Intellisense was working out of the box this time though.

[2016-04-30 11:45] biste5 commented on #74
I am looking into this, and seems the strongest dependencies on jQuery are on the _provisioning_ part.

Unfortunately, this isn't covered by tests, and I don't know how to test it at the moment.

Fix to change after a quick look:

- remove _jQuery.ajax_ calls: just one, it's basically done reusing _HttpClient_

- replace _jQuery.grep_ with a custom utility function, which should be called _grep_ o

[2016-05-02 13:38] patrick-rodgers commented on #74
Thanks for taking a look, that seems like a good list, I didn't think there was too much left. As for IE8 - no, don't worry about it. If someone needs IE8 support they can log a bug and we can revisit.

[2016-05-02 13:39] #72 closed

[2016-05-02 13:40] patrick-rodgers commented on #36
The code in /lib is es6 to support the es6 syntax. The code in the dist folder is es5 in a umd module and should be used in the browser.

[2016-05-02 15:24] mike-morrison commented on #74
@biste5 @patrick-rodgers I don't think we need a custom function.  [We can just use the built-in array.filter](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/filter#Browser_compatibility).

[2016-05-02 20:30] biste5 commented on #74
Thanks @mike-morrison and @patrick-rodgers !

[2016-05-02 21:33] patrick-rodgers commented on #36
package updated to maintain the default export we desire for umd modules in the browser in #80. @alex-randall please test, would like to get this one closed.

[2016-05-02 22:57] biste5 commented on #74
I've covered I think 80% of the stuff, it's pushed atm to
https://github.com/biste5/PnP-JS-Core/tree/dev_74

What remains it's all in [objectfiles.ts](https://github.com/OfficeDev/PnP-JS-Core/blob/dev/src/sharepoint/provisioning/objecthandlers/objectfiles/objectfiles.ts)

- jQuery.get to get raw content of a file ([line 25](https://github.com/OfficeDev/PnP-JS-Core/blob/dev/src/sharepoint/provision

[2016-05-03 13:16] SPDoctor commented on #61
Got to say I am a bit of a fan of React as well, but I think this project should be at a lower level in the stack. This was one of the problems I had with the original version of the ADAL.js library - it was intertwined with Angular 1, which is great if you happen to be using Angular 1. If you just want to figure out the five lines of code you need to get a token and you happen not to be a regular

[2016-05-03 13:23] sympmarc commented on #61
+100 to @SPDoctor. Frameworks are great when you're at the UI level, but this library should be as basic as it can be to get the job done.

[2016-05-04 02:58] mike-morrison commented on #40
@patrick-rodgers @alex-randall I had an idea for testing.  A local node proxy listening on localhost:9010 that intercepts the request and passes this request on to a dev tenant just replacing "localhost:9010" with "devtenant.sharepoint.com" in the url and passing the rest of the url exactly as it came in.<-- that is my actual dev tenant btw.  :)

Then intercept the results and serialize to disk, a

[2016-05-04 04:18] pbjorklund commented on #40
Like vcr.js?

[2016-05-04 14:29] patrick-rodgers commented on #54
How's the work on this going? Any questions or blockers?

[2016-05-04 14:29] patrick-rodgers commented on #55
How's the work on this going? Any questions or blockers?

[2016-05-04 16:19] derek-smith commented on #54
Planning on pushing the unit tests as soon as the gulp problem is fixed on the dev branch. Note that a lot of the methods are untested against SP. I just didn't find the time. I don't know, is that a blocker?

[2016-05-04 18:38] mike-morrison commented on #55
It's going well, I should have a PR today or tomorrow.  No questions or blockers at this point.  Thanks for asking.

[2016-05-04 18:44] patrick-rodgers commented on #54
Closing based on PR.

[2016-05-04 18:44] #54 closed

[2016-05-04 23:30] mike-morrison commented on #40
yeah, exactly like [that](https://github.com/vcr/vcr)

Thanks a lot @pbjorklund !!  You just crushed my dream for a multi-million dollar proxy startup I was about to start.  :)

[2016-05-05 00:23] mike-morrison opened #85 "#77 - Tree shaking in samples"
Webpack 2 and Rollup (and probably every other packaging solution) support tree shaking.

Here is a very concise description and examples.  [Rollup](http://rollupjs.org)

Webpack is adding tree shaking to v2,  It is the next big thing in packaging.

I wanted to open up for discussion making this a requirement of all of our samples.  Since this is about Patterns and Practices.  I think tree shaking

[2016-05-05 08:50] pbjorklund commented on #68
This now resides inside #78

Points to be dealt with:
[] Find the best way to reference all types at compilation/code time without having to import {} every type by itself

[2016-05-05 09:24] pbjorklund opened #87 "Multiple libraries (for instance by extracting provisioning)?"
I think we should extract the provisioning from the main "core library" seeing as it's around 25% of the total codebase right now.

My suggestion is that we move everything that is "core" into it's own folder and other "packages" into own folders.

For instance

/src/pnp - The core library
/src/provisioning - The provisioning framework, dependant on the core library

We would then package /src/pnp

[2016-05-05 09:41] pbjorklund opened #88 "Alternative ways of exposing pnp to the end user (that doesn't break the end-user consumption of lib)"
# Design goal
First I would like to see if everyone is aware of the design goal of project of making sure that consumption should be done by including the library and then being able to start using it directly through the ```pnp``` object. I myself did not realise this was set in stone which led to some confusion in the discussions that followed.

Usage as shown in server-root/index.html

[code]

[2016-05-05 13:03] patrick-rodgers commented on #87
Yep, thinking about this as well - it is on the agenda for today's call. I did some code clean-up on it but didn't get the size down much. My ideas are similar to yours - we can have one large src folder but in package we break it out into different .js files. Does make it slightly harder to "include" since package.json supports a single entry (so far as I know). BUT likely most people won't want

[2016-05-05 13:14] patrick-rodgers commented on #88
I have just added a [design goals](https://github.com/OfficeDev/PnP-JS-Core/wiki/Library-Design-Goals) page to the wiki, so we document things. Only so much time in the day.

Have you tested this second format when importing into a new TS project from the npm package? I.e. does this still work:

`import pnp from "sp-pnp-js";`

This was one of the "big" problems that started this entire conversatio

[2016-05-05 13:24] patrick-rodgers commented on #85
Ok, so what does this mean? I understand "tree shaking" but what changes would we need to make? What do we need to do beyond what we have done to support this? Your example from where ever (too many threads) if I just include { add } as you suggest, how would add know the url it should have? At that moment add is just a function with no context - currently it knows its url because we have built it

[2016-05-05 13:35] tobiaswest83 commented on #85
I think the pattern we've landed on works, and we should think carefully before making changes like this.

At the risk of turning this into a debate, one issue I have with open source, which I raised at the Dev Kitchen in Brussels is that the open source community is very fickle, use grunt? pah, so 2015, use gulp, pah - you should ditch that for xyz and so on. I fear that every time a new thing bu

[2016-05-05 14:04] pbjorklund commented on #88
Good job on the design docs!

No, you would have to import pnp as ```import * as pnp from "sp-pnp-js"``` seeing as there is no class being exported.

If we add a

[code]
Then we can import it in serverside land
![image](https://cloud.githubusercontent.com/assets/290776/15045464/e2e89e02-12da-11e6-8ba7-6a8657185d1a.png)

But we get duplication in browserland (consumption works with ```pnp.log.whate

[2016-05-05 14:18] pbjorklund commented on #18
I added interface naming to the wiki https://github.com/OfficeDev/PnP-JS-Core/wiki/Style-Guide @patrick-rodgers. Let me know if you don't agree.

[2016-05-05 17:44] patrick-rodgers commented on #87
So, we didn't get to talk about this today - but it was on the agenda ;). No worries, I'll start a Yammer thread on this and see. Right now I am leaning towards a separate .js in dist and I think it could still be used from typescript like

`import provisioning from "sp-pnp-js\lib\sharepoint\provisioning\something`

Another thing to test...

[2016-05-05 18:14] alex-randall commented on #88
@pbjorklund Excellent evaluation, testing, research on this so far!
@patrick-rodgers Awesome about the design goals wiki page.  Love it so far!

[2016-05-05 18:58] patrick-rodgers commented on #68
Looked at the PR - I see all the types broken out, but not sure which of the above points it covers? I guess my 2c:

- one file does that
- I don't think we need a 7k enum, but that's me. Also, I don't think we are blocking cherry picking/tree shaking/whatever, at least not intentionally. No one has pointed out what changes (if any) we need to make to support this. Not a high priority for me curre

[2016-05-05 19:05] pbjorklund commented on #68
The [ ] were meant to indicate a "todo" for myself :)

[2016-05-05 19:17] patrick-rodgers commented on #42
I am going to close this one with the idea we will move the docs out of the project and into the wiki. We will still ship the readme in the npm package and update it to point to the wiki. Any objections?

[2016-05-05 20:04] patrick-rodgers commented on #42
Did this work with #90.

[2016-05-06 00:15] russgove opened #91 "Allow CAML queryies to be executed against lists"
We need to be able to execute CAML queries wen oob rest does not meet our needs. Add a method getCAML to the list object that takes a CAML Query. How Do II assign this to myself?

[2016-05-06 00:20] russgove opened #92 "Detect if requests are being throttled, and retry accordingly"
If our requests get throttled, we need to retry, like the managed code  pnp project does.

[2016-05-06 12:26] patrick-rodgers commented on #91
You can't assign yourself until I add you as a contributor. Done, and you are assigned. Thanks!

[2016-05-06 12:27] patrick-rodgers commented on #92
I'll take this one, I already have some code from another project to handle this.

[2016-05-06 14:03] patrick-rodgers commented on #42
Closing this, other discussions on docs [here](https://github.com/OfficeDev/PnP-JS-Core/issues/6)

[2016-05-06 14:03] #42 closed

[2016-05-06 14:08] patrick-rodgers commented on #61
This is a great conversation and want to keep it going - so have moved it to a [Yammer Thread](https://www.yammer.com/itpronetwork/#/Threads/show?threadId=700774408).

The reason being this isn't an issue we can close/resolve. Fantastic list and want to keep these things in mind for sure.

[2016-05-06 14:08] #61 closed

[2016-05-06 14:12] patrick-rodgers commented on #71
Hi Alex, this is a great list and we absolutely want to keep these points in mind - so I have moved the content to a [Yammer thread](https://www.yammer.com/itpronetwork/#/Threads/show?threadId=700777152) and will be closing this issue.

The reason is this doesn't represent a thing we can close/resolve atomically. Absolutely agree we need to grow on all these fronts - guidance, documentation, and s

[2016-05-06 14:12] #71 closed

[2016-05-06 19:54] patrick-rodgers commented on #92
This is done in #93.

[2016-05-06 21:43] russgove commented on #91
Heym I didnt know it was already there.

[2016-05-06 21:48] #91 closed

[2016-05-06 21:58] russgove opened #94 "Add logic to add $expand to queries"
Need to add $expand to Queryable object to allow nested objects. Also need #orderby,$sjip and $top (working on it)

[2016-05-07 21:28] russgove opened #96 "use $expand and $select with caml query"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

####Category
[x ] Enhancement

[ ] Bug

[ ] Question
I was looking to see how I could convert an existing projext to use this library.
In one of my queries I have th

[2016-05-08 16:12] mike-morrison commented on #55
PR imminent.  My in-laws showed up early for my wedding so I lost a day.

[2016-05-09 15:39] pr0peller opened #98 "TSLint errors question"
Hi,
I'm trying to build the solution and I keep getting errors during linting process.
`Declaration of private instance member variable not allowed to appear after declaration of public instance member function`.

few files only, but enough to ruin the build. Everything builds and test pass without linting.
Does anybody experience the same issue or it's just me?

Thanks in advance

[2016-05-09 17:46] pbjorklund commented on #98
Hi @pr0peller. If you paste the output here I can check it tomorrow

[2016-05-09 17:55] pr0peller commented on #98
Hi,
Here it is the output from my console:

`>npm test

(node:14208) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.
[20:08:50] Using gulpfile D:\__Source\Repos\PnP-JS-Core\gulpfile.js
[20:08:50] Starting 'lint'...
[20:08:50] Starting 'build-typings'...
[20:08:50] Starting 'clean'...
[20:08:50] Starting '

[2016-05-09 18:03] mike-morrison commented on #98
@pbjorklund @pr0peller I got these same errors out of nowhere the other day.  I had to move all of the failing items above the constructor to make the errors go away.  I assumed the tslint rules changed and that a PR was probably pending already to fix it.

[2016-05-09 18:06] pr0peller commented on #98
Same here. Lint was fine yesterday. Thanks for the info @mike-morrison

[2016-05-09 18:16] pbjorklund commented on #98
Is this against the master or dev branch?

[2016-05-09 18:28] pr0peller commented on #98
@pbjorklund  It is against dev branch

[2016-05-09 18:30] pr0peller commented on #98
@pbjorklund  Same issue against master branch - just checked!

[2016-05-09 23:30] patrick-rodgers commented on #98
I just pulled dev and ran gulp lint and could not reproduce this. tslint rules haven't changed so far as I am aware.

[2016-05-09 23:32] #92 closed

[2016-05-09 23:33] biste5 commented on #98
I could reproduce it couple of days back from dev branch, while working on my PR.

I didn't commit my tslint.json then, which I used to check successful build. Wanted to raise the issue myself too

[2016-05-10 00:12] russgove commented on #98
I had the isues on Saturday and changed my talking to fix it

[2016-05-10 00:30] mike-morrison commented on #98
I noticed it for the first time on a Mac, but I am pretty sure I got it on Windows too.

[2016-05-10 03:54] patrick-rodgers commented on #98
I just noticed you are doing "npm test" instead of "gulp test". I re-pulled latest from dev and tried that and it worked as expected. So far as I know nothing had changed on my machine, and I am pulling from the dev branch in git with no local changes. tslint.json hasn't been updated in some time. Unsure, if someone who can reproduce this can investigate that would be appreciated but everything ap

[2016-05-10 08:18] biste5 commented on #98
It has to do with an [issue in TSLint](https://github.com/palantir/tslint/issues/1205) seems, not with what we were doing.
So it's depending on which version of TSLint is being used and should be fixed soon.

I'm using TSLint 3.8.0 and have the issue.

[2016-05-10 10:20] pbjorklund commented on #98
It has to do with the fact that we use caret ranges for tslint and gulp-tslint. @biste5 is most likely correct that it will be solved upstream soon enough.

We could lock down versions to specific versions in package.json.

For now you can resolve with ```npm install tslint@3.6.0 gulp-tslint@4.3.2```

[2016-05-10 10:38] pr0peller commented on #98
I'll check my version of TSLint when I get home, but I think I'm running 3.8.0 also. Not 100% sure though ...

[2016-05-10 15:54] pr0peller commented on #98
I'm using TSLint 3.9.0 downgradet to 3.6.0 as @pbjorklund advice and now it is ok.

[2016-05-10 16:13] pr0peller opened #101 "Update REST Field class"
Hi,

I would like to add members to Field class in REST section and add tests to support it.

[2016-05-10 17:39] patrick-rodgers commented on #98
So before I close this want to confirm:
1. It is now working
- this was due to an issue with tslint and not a change in our library somewhere?

[2016-05-10 17:41] pr0peller commented on #98
Correct, With TSLint 3.6.0 works. The Issue is in the newer version of TSLint tool.

[2016-05-10 17:42] patrick-rodgers commented on #98
Thanks, I'll close this. Appreciate everyone who had a look.

[2016-05-10 17:42] #98 closed

[2016-05-10 17:46] patrick-rodgers commented on #74
Closing this, nice work Massimo.

[2016-05-10 17:46] #74 closed

[2016-05-11 12:27] Leetcore opened #104 "fsevents needs OS X (darwin)"
npm install is failing because of fsevents on Windows and Linux.

####Steps to Reproduce
clone repo
npm install
Try on Windows/Linux

npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.0.12

I hope it will work on more OS if its ready.

Best regards!

[2016-05-11 17:25] derek-smith commented on #104
Everything is fine. npm is saying that your machine doesn't need fsevents to work. Read the line above that one too:

`npm WARN optional Skipping failed optional dependency /chokidar/fsevents:`
`npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.0.12`

If you needed that dependency, it should get installed too.

[2016-05-12 08:34] Leetcore commented on #104
Yes, this was the warning before the error.

npm WARN deprecated graceful-fs@3.0.8: graceful-fs v3.0.0 and before will fail on node releases >= v7.0. Please update to graceful-fs@^4.0.0 as soon as possible. Use 'npm ls graceful-fs' to find it in the tree.
npm WARN deprecated lodash@1.0.2: lodash@<3.0.0 is no longer maintained. Upgrade to lodash@^4.0.0.
npm WARN deprecated graceful-fs@1.2.3: gracef

[2016-05-12 09:41] Leetcore commented on #104
My colleague can install it. It should be a local problem.

[2016-05-12 09:41] #104 closed

[2016-05-12 13:52] alex-randall commented on #6
Hi @patrick-rodgers,

Good news is that I already created a gulp "docs" task and am going that exact route.  :)

Regarding people not having documentation available on the site, I think that is a slippery slope... (especially for those who don't use gulp like site owners who just copy and paste code in Script Editor Web Parts).

Here's an idea:  what if we put that docs task as part of the package

[2016-05-12 15:09] #101 closed

[2016-05-12 15:11] pr0peller commented on #3
Hi,
What is the status of this issue? I can research and try to help with this issue.

[2016-05-12 15:17] patrick-rodgers commented on #3
It is a little on hold. We did some initial research and added the bower.json file, but I haven't actually created the package yet.

[2016-05-12 15:20] pr0peller commented on #3
Ok. I'll see something else then. Thanks.
On 12 May 2016 18:17, "Patrick Rodgers" <notifications@github.com> wrote:

[2016-05-12 19:32] pr0peller commented on #55
Hi, can I help with something?

[2016-05-13 05:53] mike-morrison commented on #55
@pr0peller I should be all set after I talk to @tobiaswest83 Friday afternoon (today).  I apologize again for the delay.  I ended up having to go to the ER yesterday, and the doc put me on bed rest for a couple of days.  I figure 1 day is enough.

[2016-05-13 12:35] patrick-rodgers commented on #6
I envision the docs being part of the sample project as well as in the wiki with the wiki being the primary source for docs.

[2016-05-13 15:14] patrick-rodgers commented on #88
My vote is to close this issue and move on. The string replacements work, and we don't have to duplicate everything in pnp.ts. This is getting around a specific limitation in how TypeScript builds the libraries, and was only an issue because the idea that we would use the syntax:
`import pnp = require("sp-pnp-js");`
was considered unacceptable. I don't have a problem with that syntax but have trie

[2016-05-13 15:19] patrick-rodgers commented on #85
Unless we can frame this as an actionable issue, i.e. make these specific changes to enable "tree shaking" I'd like to close this issue and move the discussion to Yammer/gitter. We aren't trying to not support it, but to date I can't get an explanation as to what we need to do to support it. It also from what I read requires that we provide es6 modules, something I was told in another issue we can

[2016-05-13 17:57] patrick-rodgers commented on #94
Closing this as the PR was merged today so this functionality is not present. I added tests as well as comments and updated orderby to support asc/desc.

[2016-05-13 17:57] #94 closed

[2016-05-13 18:03] patrick-rodgers commented on #96
The issue is you have to do a POST request for the caml query, it doesn't work with get per the docs. Can you not use the View XML to specify the fields to return? You should be able to fully describe the query using that xml. I am also not sure it is a good idea to mix the CAML and OData query methods.

[2016-05-13 18:13] patrick-rodgers commented on #87
Completed today. pnp.min.js => 79k

[2016-05-13 18:13] #87 closed

[2016-05-14 01:41] russgove commented on #96
Hi Patrick,
We can use the XML to specify the fields to return, the filters, and the orderby. Just not the expands(as done in my example above). If anyone knows a way to do that in caml that would be great.

I've got it almost ready in my branch by adding the 'caml; method to lists.js:
  public caml(caml: string): QueryableCollection {
        debugger;
        let  items = new Items(this);

[2016-05-14 05:41] pbjorklund commented on #88
If you say so. Your library, your call.

[2016-05-16 07:02] mike-morrison commented on #85
@tobiaswest83 I am only suggesting this for samples.  Not sure this makes any sense for the lib itself, because we have to ship it in it's entirety and we have so few dependencies that I don't think it would save us enough to be worth the effort.

@patrick-rodgers  We can provide es6 modules like it was before.  We cannot point main at the ES modules which is how it was before.  The esnext:main sh

[2016-05-16 07:09] pbjorklund commented on #88
The duplication in the dist above also allows people to build something by refing NPM package without bundling in their own dist of pnp. Now it will transpile to for instance ```pnp.default.sp``` which does not exist on the pnp.js in the dist folder.

(Taken from discussion on gitter with @derek-smith this weekend)

[2016-05-16 10:38] pbjorklund commented on #85
I guess packaging tools is/will be smart enough to do intelligent tree shaking the same way test coverage tools work. Makes more sense for it to trim the parts of transpiled sources that are never called.

Action should be: Build a sample that shows how this "pattern" can be implemented for packaging scenarios where bandwidth is crucial.

[2016-05-16 13:38] patrick-rodgers commented on #88
Just read through gitter. Not sure I understand 100% - so including the .default enables what behavior? If it helps something then we should include it in our library.

[2016-05-16 15:13] pbjorklund commented on #88
So here is the thinking.

Let's say I start a new project and use webpack to bundle my app.

I install the sp-pnp-js library and ```import``` it into my solution to get the intellisense.

Now I don't want to bundle the NPM packages /lib into my solution (with something like webpack) since I already have it globally accessible on pages in SharePoint outside of my own app-code so I rely on pnp alrea

[2016-05-16 16:43] patrick-rodgers commented on #88
Ah, so other things are thinking the default will be there because that is how the TS code is structured. Got it. So the supported TS way to do this is what we did previously with "export =", but we can't because folks want to use the newer import syntax.

I am playing a bit more with packaging today to see if I can get the size down some more, I'll take another look at this. Likely we'll just hav

[2016-05-16 19:40] pbjorklund commented on #68
https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines states

And in https://github.com/Microsoft/TypeScript/blob/master/src/compiler/types.ts we can see that they mix types/interfaces/enums in their types.

A file/module with only an interface export generates an interfaceName.js file with ```"use strict";``` as the only content. That's minus one for a pure file for each interface.

So I

[2016-05-16 19:50] pbjorklund commented on #68
Re cherry picking perhaps this is what @mike-morrison is talking about in #85. I think we should solve that issue before deciding on the Locale enum as they are interconnected.

[2016-05-16 19:51] pbjorklund commented on #85
For reference the footprint of one of my solutions grew by 1000% even when uglified when including sp-pnp-js in it's current state even though I just wanted to use 1 function call on the web object. This is the scenario @mike-morrison is talking about.

For instance imagine that I would just want to the Locale enum which adds a hefty 7kb to the library size. How would I access just this without bu

[2016-05-16 19:56] patrick-rodgers commented on #88
Completed here #110

[2016-05-17 06:07] mike-morrison commented on #85
@pbjorklund Wow!  That vscode is beautiful.  It's so consistent in style.  Speaking of, can we relax the tslint rules a bit.  Seeing the squgglies and having to delete white space to make them go away is getting on my nerves for something that is going to get transpiled and minified anyways.  CRLF at the end of files, etc.  Is there some other gain I am missing?

[2016-05-17 06:15] mike-morrison commented on #68
@pbjorklund Wow! That vscode is beautiful. It's so consistent in style. Speaking of, can we relax the tslint rules a bit. Seeing the squgglies and having to delete white space to make them go away is getting on my nerves for something that is going to get transpiled and minified anyways. CRLF at the end of files, etc. Is there some other gain I am missing?

[2016-05-17 14:50] #88 closed

[2016-05-17 15:45] patrick-rodgers commented on #85
1000% increase by adding the minified lib at 79k? If you only need one function, or the Locale enum you can always copy and paste that code out of the library. I have often done that in the past with the CSOM library. The issue with breaking out one method on web is that we would then have to make every method understand the full url it represents. This breaks the ability to chain things together

[2016-05-17 15:54] pbjorklund commented on #85
If I copy it I can't just pull the latest sp-pnp-js package and have everything instantly better. :)

My usecase was just to illustrate why it would be nice to cherrypick and just have that part pulled into the bundle. But adding 20 layers of complexity just to enable this probably isn't the right way to go right now.

I'm in favor of waiting unless someone provides an example of how it could be a

[2016-05-18 17:49] pr0peller commented on #36
Hi,
I just want to say that I test the library in ASP.Net application:

`///<reference path="../node_modules/sp-pnp-js/dist/pnp.d.ts"/>`
`import * as Pnp from "pnp";`
works,

`///<reference path="../node_modules/sp-pnp-js/dist/pnp.d.ts"/>`
`import Pnp = require("pnp");`
works also.
I have tested it also in Nodejs typescript application and it works the same way.
Dev env: Visual Studio 2015 Enterpr

[2016-05-20 13:17] patrick-rodgers commented on #96
Appears you are correct in that expand is not supported. I am going to update the getItemsByCAMLQuery to take an optional parameter of expanded fields. So you can call getItemsByCAMLQuery(xml, "User\Email", "User\Login", ...) and it will just append the expands. I'll create  PR and link it here.

[2016-05-20 14:39] russgove commented on #96
That's a good start. In my opinion I think it would be easier on consumers
of this library to have the full set of odata query parameters.

if someone needs to do a query for something not supported in the rest api
(for example filter items based on multivalued taxonomy fields) , or has a
complex query that he thinks is more easily represented in cam than a
$filter string, it would be nice to let

[2016-05-20 14:58] patrick-rodgers commented on #96
[Here is the change](https://github.com/OfficeDev/PnP-JS-Core/blob/dev/src/sharepoint/rest/lists.ts#L300)

I would like to encourage folks to use the REST api as much as possible. Mixing the odata and caml queries is not a great idea since they can conflict leading to unexpected behaviors that are hard to debug. Also to take your example $skip doesn't work with list items - so that would be doubly

[2016-05-21 10:59] pbjorklund commented on #68
@patrick-rodgers any thoughts on the above before I start?

[2016-05-23 13:33] patrick-rodgers commented on #68
I don't see any value in duplicating all the classes as interfaces, and I don't see that supported by the files you linked. They are exporting both interfaces and classes as are we - but not 1 interface per class. Also, I've been a fan of keeping all the common utility types in a single types file from the beginning. They are also using both import syntaxes as appropriate; * and {} as are we.

Cla

[2016-05-23 15:48] pbjorklund commented on #68
I like to program against interfaces instead of implementations, perhaps my background from other languages are taking over to much compared to what the TS best practices/environment are.

When you use a class as an interface in TS you also get the internals of the class.
Here's a short example of what I mean in a [snippet](http://codepaste.net/173yk1)

I want us to agree on something and put it i

[2016-05-23 19:14] patrick-rodgers commented on #68
I think we are using interfaces where it makes sense, for provisioning providers for example. Maybe there are places where we could make things more generic, on the whole I think we are in pretty good shape. Take web for example - will we realistically have separate web implementations such that we need an IWeb (I know you are opposed to using the "I" prefix)? While I agree with your point 1, it i

[2016-05-25 17:46] pbjorklund commented on #68
It's very useful to be able to easily switch out the implementation when doing unit tests or functional tests where you want to isolate what effect a dependency has on a function (testing glue for instance).

After doing research it seems that there is no consensus at all in the TS community... Let's just pick a standard and go with it, that's more important then discussing forever how to name the

[2016-05-26 20:58] patrick-rodgers commented on #36
This appears to be fixed, thanks all.

[2016-05-26 20:58] #36 closed

[2016-05-27 01:13] russgove opened #115 "Add code to avert 5000 list item limit"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

#### Category
[x ] Enhancement

[ ] Bug

[ ] Question

We should implement something to overcome/avert the 5000 item limit imposed by sharepoint. Maybe get batches o

[2016-05-27 05:26] mike-morrison commented on #115
I believe the most you can request from the REST API is 2000 at a time, but that
was a while ago.  Also it was search, and trying to take the full 2000 took too long.  It took too long for the server to return the first byte.  It took too long for the 2000 search results to come back to the browser, and due to lack of threading, it kept the UI thread locked while popping the 2k results on the scre

[2016-05-27 11:30] searus opened #116 "Bug in pnp.d.ts from npmjs.com/sp-pnp-js"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Expected / Desired Behavior / Question
Compiling typescript using the pnp.d.ts definition file in npmjs.co

[2016-05-27 20:20] patrick-rodgers commented on #55
Closed by #118

[2016-05-27 20:20] #55 closed

[2016-05-27 20:27] patrick-rodgers commented on #85
Closing this because there is currently no npm package supported method to support this. Once we have a concrete way to support this that is less likely to change and is better defined we can revisit.

[2016-05-27 20:27] #85 closed

[2016-05-30 00:04] russgove commented on #115
Thanks for the detailed reply Mike. I tried to do some testing to see how/if I could get all items from a list with our library. I created a list with 5000 items. When I issue a get on the list , rest returns me only 100 items. According to the docs , there is supposed to be a 'nextLink' property in the response to get the  next batch of items, I looks like this property is not being returned by t

[2016-05-30 06:02] sympmarc commented on #115
@russgove: The default is 100 (which is almost never enough). You can specify $top=nnnn, where nnnn is up to 5000; above that gives you an error. Using $skip=nnnn means 'start with item nnnn + 1'.

[2016-05-30 06:07] sympmarc commented on #115
@russgove: p.s. To cover all situations, I think you should return all name/value pairs that come back from the request in an array, along with the data. One of the problems with wrapping something like this is it can obscure details that matter in situations you can't predict. Trying to know what all those are can be a fool's errand.

[2016-05-30 06:41] sympmarc commented on #115
@mike-Morrison: There is indeed a limit of 5000 items in the REST API. Try it. 2000 was the "recommended" maximum list size in 2007; the point at which it was deemed a "large list". But we could query as many items as we wanted. The 5000 item limit became a hard one with the REST interface in 2010. It's not based on operations; it's a hard number. It's simply not enough for real applications much

[2016-05-30 21:25] russgove commented on #115
Leave a comment

[2016-05-31 17:04] patrick-rodgers commented on #115
@russgove, I have added support for paging through items using the getPaged method added to the items collection in PR #119. This now returns a typed object that has the data in a "results" property and a method getNext that will get the next set based on the initial query. You can see a sample of using it below:

[code]

In terms of providing a "getAll" method, I am against that because it has re

[2016-05-31 22:27] russgove commented on #115
That's Great! Thanks Patrick.
Regarding the getAll... This is needed not for user pages but for 'database maintenance' type routines where one needs to 'visit' every record in a table to perform some operation.  If you don't want to add the method, I guess we can just give a sample of how to do it via getPaged.

Thanks for the quick response.

Russell

[2016-06-01 06:11] sympmarc commented on #115
@russgove Sometimes getAll *is* required. Now that we're going to expect people to do much of their dev client side, we'll need to cover all the stuff they are doing today. The simplest of examples is summing some value by the value of another column: sales by department, etc.

[2016-06-01 12:47] patrick-rodgers commented on #115
@sympmarc, let's discuss it on the call. It is easy enough to write a getAll method, but what worries me is knowing how people write code in the real world it will become the "default" method. So we would essentially be introducing performance problems. Would some people use it responsibly? Of course. I'm not worried about them, I'd worried about the rest. Back to my scenario of a web part on the

[2016-06-01 21:45] patrick-rodgers commented on #116
Thanks @searus, fixed in PR #120 and in the dev branch. NPM package will be updated next time we merge to master (likely tomorrow or Friday).

[2016-06-01 21:45] #116 closed

[2016-06-01 23:16] russgove commented on #115
Patrick, The callback method is perfect for the database maintenance type of routine I mentioned above.
I agree that novice developers would see a getAll method and just use that which could lead to performance problems.  We can either leave it out , and provide a sample on how to do it(which may scare off novice developers), or include it (with documentation that it can perform poorly when etc...

[2016-06-02 00:41] mike-morrison commented on #115
@sympmarc The documentation explains it better than I do, the following excerpt is sourced [from here](https://msdn.microsoft.com/en-us/library/ff798465.aspx).   I have seen a few scenarios where you get throttled on lists with less than 5000 items.

#### How Does Indexing Affect Throttling?

The list view threshold does not apply simply to the number of results returned by your query. Instead, it

[2016-06-03 14:48] patrick-rodgers commented on #115
Going to close this. We've now got support for list item paging and I added iterating list items to the roadmap page in the wiki (a new page!). Thanks for the great discussion and if I missed anything feel free to re-open this. Thanks!

[2016-06-03 14:48] #115 closed

[2016-06-03 14:55] patrick-rodgers commented on #96
Going to close this, added support for expand for CAML queries. If there is great demand we can revisit this but want to encourage folks to use the REST apis as a first choice.

[2016-06-03 14:55] #96 closed

[2016-06-04 12:34] biste5 commented on #40
Instead of a PowerShell script, could be a console application that uses PnP Provisioning Engine or CSOM an alternative?
Some basic 'hello SP' test on Mac (with Mono and Xamarin Studio), using CSOM NuGet package are positive.

Same on Linux (Debian 8) isn't positive at the moment due to some missing implementation in Mono with SSL or WebClient to investigate further, but I don't think Linux is rea

[2016-06-05 20:31] patrick-rodgers commented on #40
Sure, could be - there is also the PowerShell commands authored by Erwin that use the same provisioning engine. So there already exist the commends to apply templates and many other things. I'm open to any path that makes testing/debugging easier and allows us to add in-browser tests to run against SharePoint, that is the one area where we are really deficient.

[2016-06-05 21:55] biste5 commented on #40
yes, I know because I've used the PnP PowerShell command lets, but that would constraint anyway the usage to Windows machines only. Many frontend (JS / CSS) developers in my company are using non MS platform, and appreciating don't have to run VMs anymore now they can work with VSCode for instance

[2016-06-06 12:35] patrick-rodgers commented on #40
Great point - perhaps we can package things in the form of a SharePoint add-in to run the tests?

[2016-06-07 20:08] s-KaiNet commented on #40
Hi guys, just found out you are using my `spsave` module for build process :). Glad to know that. Recently I made an update to 2.x version (all are written in TypeScript from ground, with unit testing and integration testing, new options\features, more robust and stable version). I will make a PR to update dependency to 2.x version.
Regarding browser testing I have some thoughts. In the past I sol

[2016-06-07 20:16] tobiaswest83 commented on #40
Welcome @s-KaiNet! Sounds like a compelling idea, using `phantomjs` to run the tests sounds like a big step forward, think this should be explored in more details, wonder if it's a good idea to put together an example which simply connects to the top level site collection and queries the web for instance as a basic proof-of-concept.

In terms of creating the site & content, I imagine we'd want to

[2016-06-07 20:53] s-KaiNet commented on #40
If you approve I will do a small POC with `phantomjs` (or `casperjs`).

[2016-06-07 20:58] s-KaiNet commented on #40
For creating web using PnP JS - is it possible to use it from node?

[2016-06-08 07:32] Djemel opened #124 "loadStylesheet from utils not working"
#### Category
[ ] Enhancement

[ X] Bug

[ ] Question

#### Expected / Desired Behavior / Question
Stylesheet should be added to "head"

#### Observed Behavior
Stylesheed not added to "head"

#### Steps to Reproduce
call pnp.utils.loadStylesheet('_path_to_my_stylesheet_', false);

The issue seems to come from this test:
if (head.length > 1)
should be either head.length > 0 or >= 1

[2016-06-08 18:56] patrick-rodgers commented on #40
Thanks @s-KaiNet, definitely seems interesting. Currently we don't handle the authentication to full use the library from node - but has been discussed. Certainly something we can see about adding to the roadmap for the next release. Our focus was getting it working in the browser first.

I am not familiar with phantomjs, perhaps a small sample to show what it can do would be helpful? Or would it

[2016-06-09 05:40] Akhoy opened #125 "Unexpected token in JSON error"
#### Category

Bug

#### Expected / Desired Behavior / Question
Display title of the current site.

#### Observed Behavior

#### Steps to Reproduce
I am using the following code as I got from [Wiki](https://github.com/OfficeDev/PnP-JS-Core/wiki/Install-and-Use) in a content editor web part on an on-premise version of SharePoint 2013.
`$pnp.sp.web.select("Title").get()
.then(function(data){
console

[2016-06-09 12:55] patrick-rodgers commented on #125
This is due to the metadata not being on by default in SharePoint 2013 SP1 as discussed [here](https://technet.microsoft.com/en-us/library/dn762092(v=office.15).aspx). This has been raised by a few folks so we are looking at how to address it. Thanks for logging it.

[2016-06-09 12:55] patrick-rodgers commented on #124
Thanks, will take a look

[2016-06-09 20:47] aseemone opened #126 "Erros while using PnP-JS-Core Typescript files."
#### Category
Bug

#### Expected / Desired Behavior / Question
_Should be able to resolve and compile the TypeScript definitions without complaining about duplicates_

#### Observed Behavior
There are multiple "Duplicate identifier XXX" errors after adding the TypeScript error. on changing few settings, at times it complains about the "Cannot find name XXX" as well.

#### Steps to Reproduce
Steps

[2016-06-10 07:02] Akhoy commented on #125
Didn't know about this feature. Will enable it and use this as a workaround till the bug is fixed.Thanks!

[2016-06-10 12:13] patrick-rodgers commented on #126
Thanks, will work on getting this resolved.

[2016-06-10 15:14] patrick-rodgers commented on #125
I have a fix for this in PR #127 - any chance you can pull that PR branch and do a test on-prem for me?

[2016-06-10 18:52] patrick-rodgers commented on #3
This is completed and you can install the package via bower using

`bower install sp-pnp-js`

[2016-06-10 18:52] #3 closed

[2016-06-12 19:18] Djemel opened #130 "There is another module with an equal name when case is ignored"
#### Category
[X ] Enhancement

[ ] Bug

[ ] Question

#### Expected / Desired Behavior / Question
Using webpack on OSX with Visual Studio Code, I am getting a lot of warning like:
WARNING in ./~/sp-pnp-js/lib/utils/Storage.js
There is another module with an equal name when case is ignored.
This can lead to unexpected behavior when compiling on a filesystem with other case-semantic.
Rename module

[2016-06-13 09:57] Akhoy commented on #125
OK. I'll check it out and let you know. Pls let me know the steps for that. Quite a beginner with git.

[2016-06-13 10:08] olemp commented on #124
Why not use registerCssLink? What's the pros of using this vs registerCssLink?

[2016-06-13 11:07] Djemel commented on #130
Just watched the last weekly call and it seems it is fixed in the next release.

[2016-06-13 11:07] #130 closed

[2016-06-13 14:41] patrick-rodgers commented on #124
Correct, it was originally in the code from which these utility functions are derived because it was easier to have a few lines in a method then to always rely on the SP.* libraries being present.

[2016-06-13 16:25] patrick-rodgers commented on #125
I was able to test it, the fix is good, will merge the PR.

[2016-06-13 16:31] patrick-rodgers commented on #124
This is now fixed in dev branch, will merge to main shortly for a patch release.

[2016-06-13 16:31] #124 closed

[2016-06-13 16:31] patrick-rodgers commented on #126
This is now fixed in dev branch, will merge to main shortly for a patch release.

[2016-06-13 16:31] #126 closed

[2016-06-13 16:31] patrick-rodgers commented on #125
This is now fixed in dev branch, will merge to main shortly for a patch release.

[2016-06-13 16:31] #125 closed

[2016-06-15 08:31] olemp opened #132 "Design pnp.sp.taxonomy"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Expected / Desired Behavior / Question
_If you are reporting an issue please describe the expected behavio

[2016-06-16 14:56] sympmarc opened #134 "Allow per call overrides for the options set in the .setup function"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

#### Category
[X] Enhancement

[ ] Bug

[ ] Question

#### Expected / Desired Behavior / Question
It's great to set options up front that are applied consistently, a

[2016-06-18 21:44] s-KaiNet commented on #40
To be clear on topic, what do you mean under browser testing? Is that integration testing (not unit), right?
In that case of course it will be much much simpler to run tests from node directly (especially if you have a plan to add support for node).

[2016-06-20 16:53] patrick-rodgers commented on #40
Yes, the title of this could be better. What I mean really is "we need to test things against actual SharePoint". If we can do that from node, awesome. @mike-morrison may also be working on something along these lines as well.

[2016-06-20 16:55] patrick-rodgers commented on #134
Have a look at #136 which now supports ability to set headers and other fetch params on a per-call basis. Also introduces cachine on a per-call basis, composable with batching, and global disable-able for dev scenarios.

[2016-06-20 16:59] sympmarc commented on #134
Without trying it out, what you show in #136 seems like the right way to go.

[2016-06-20 19:02] mike-morrison opened #138 "Tracking issue for gulp-header bug"
#### Category
- [ ] Enhancement

- [x] Bug

- [ ] Question

#### Observed Behavior
npm install fails with error about a missing file.  Already fixed in #137

This is just a tracking issue so we can go back to installing the latest gulp-header after [this PR](https://github.com/tracker1/gulp-header/pull/38) is merged and a later version is added to NPM.

[2016-06-20 19:36] s-KaiNet opened #139 "Update dependency for spsave to 2.x version"
#### Category
[x] Enhancement

[`spsave 2.x`](https://github.com/s-KaiNet/spsave) is more solid and stable version of `spsave` module. 2.x version rewritten from ground in TypeScript with unit and integration testing, performance improvements.

[2016-06-20 20:06] s-KaiNet commented on #40
I have an idea to use [sp-request](https://github.com/s-KaiNet/sp-request) for testing on nodejs. The idea is to replace `global.fetch(url, options)` inside `FetchClient.ts` with `sp-request`, which has exactly the same syntax and in addition takes care about authentication.
will try to do a some kind of POC later this week or next week. If that work we may have consistent tests for both on-premis

[2016-06-21 14:21] patrick-rodgers commented on #139
Merged PR, closing

[2016-06-21 14:21] #139 closed

[2016-06-21 17:05] patrick-rodgers commented on #132
See comments on PR #133

[2016-06-28 13:44] patrick-rodgers commented on #134
This was merged in as part of #136 today, closing issue. We can track future enhancements on others issues. Thanks for logging this!

[2016-06-28 13:44] #134 closed

[2016-06-28 17:56] patrick-rodgers commented on #6
Going to reassign this one to myself for now - if anyone wants to help out, absolutely welcome it!

[2016-07-01 09:34] Danny-Engelman opened #146 "Licensing information for distributed files"
#### Category
[ x ] Enhancement

[ ] Bug

[ x ] Question

#### Question
/dist/pnp.js contains a very minimal copyright notice, and has the Microsoft (c) first

[code]
quote from: https://www.gnu.org/licenses/license-list.en.html

if you only download pnp.js and never look at the correct LICENSE file in the root it is unclear what the license grants. That's why I reacted so harsh, I only looked at

[2016-07-05 14:15] patrick-rodgers commented on #6
Closing this based on #144, will open a new issue as help wanted for folks wanting to help with the styling. Thanks to everyone who helped in the docs discussion!

[2016-07-05 14:15] #6 closed

[2016-07-05 14:15] #5 closed

[2016-07-05 14:20] patrick-rodgers opened #147 "Help Styling the generated docs"
#### Category

[X] Enhancement

[ ] Bug

[ ] Question
#### Expected / Desired Behavior / Question

Looking for someone (or someones) interested in helping out with styling the generated documentation. This is done through the customization of the handlebars templates that are part of the typedoc package. The existing templates are located in the folder in the [dev tree](https://github.com/OfficeDe

[2016-07-05 17:39] patrick-rodgers commented on #146
I am good with these changes, as I said in the other thread as well. I do not think we need to include the authors file contents. We'll likely look to get 1.0.3 out the door in the next few weeks but no firm date currently. If you can get a PR together we can include in then. Thanks

[2016-07-06 03:19] sksnips opened #151 "Firefox throws error on using PnP.js file"
#### Category
[ ] Enhancement

[ X] Bug

[X ] Question

#### Expected / Desired Behavior / Question
PnP.js file not working with firefox. is it a known issue?

#### Observed Behavior
Using the PnP.js file returns the following error when accessing in Mozilla Firefox,

**TypeError: 'headers' member of RequestInit could not be converted to any of: Headers, ByteStringSequenceSequence, ByteStringMozMa

[2016-07-06 18:24] patrick-rodgers commented on #40
I just submitted PR #152 which adds the ability to make requests from node -> SharePoint. This should enable us to begin writing tests for the library that execute calls against SP and validate the results.

[2016-07-06 20:48] patrick-rodgers commented on #151
Thanks for reporting this. Fixed and merged into the dev branch in PR #153. Fix was to add a null check before merging the headers, appears Firefox doesn't like null values for headers.

[2016-07-06 20:48] #151 closed

[2016-07-07 18:32] tobiaswest83 commented on #147
Yo, I'm interested @patrick-rodgers Fabric have just released a load of Handlebars templates as part of Fabric 3.0 so they should work pretty well together. I'll give it some thought and throw together a few plunks.

Can't make calls at the moment as I'm on site a lot - will catch up with Gitter/calls but let me know if any discussions have started

[2016-07-07 19:38] patrick-rodgers commented on #147
Sounds good - talked about it in the call today for the first time. Would love to see what you can some up with!

[2016-07-08 17:08] tobiaswest83 commented on #147
@StfBauer @mikewheaton lets hijack this issue to talk ideas

Obvious candidates to me are -

-using fabric table to show list items, with a commandbar
-Facepile to show members of a group and allow them to add/remove people to the group
-getting quick launch and top nav times

Sure there's loads more, let's add ideas and then settle on a few and break it down

[2016-07-11 15:34] mikewheaton commented on #147
I'm focusing on getting Fabric 3.0 ready for release now, but once that's done I can take a look at the documentation and make some quick cleanup suggestions.

[2016-07-11 18:25] patrick-rodgers commented on #147
@tobiaswest83, working examples are great too! Mike might have ideas on where they can live, I am not sure in this repo - but we will figure it out. But yes, for this issue I was focused on our documentation getting a nice look/feel to help folks find the info they need.

@mikewheaton, thanks! Can't wait for OF3!

[2016-07-11 18:29] tobiaswest83 commented on #147
@patrick-rodgers, will focus on the TypeDoc for now-was getting ahead of myself!

[2016-07-13 18:52] mike-morrison commented on #146
@patrick-rodgers If I understood the above, we would be taking the entire license file and adding it to the output.  I think we should stick to being inline with what other Microsoft projects are following.  I have never seen any of our other projects include the entire license.  I do like the idea of including a link to the documentation and the license file as a nice value add to people.  Just m

[2016-07-18 17:35] lousimonetti opened #157 "Get Owner Profile URL"
#### Category
[ ] Enhancement

[x] Bug

[x] Question

#### Expected / Desired Behavior / Question
Found a possible issue with line [https://github.com/OfficeDev/PnP-JS-Core/blob/master/src/sharepoint/rest/userprofiles.ts#L243](https://github.com/OfficeDev/PnP-JS-Core/blob/master/src/sharepoint/rest/userprofiles.ts#L243)

`let q = this.getParent(ProfileLoader, this.parentUrl, "sp.userprofiles.profi

[2016-07-18 23:39] mauricionr opened #158 "More detail information about SharePoint Add-in registration"
#### Category
[ ] Enhancement

[ ] Bug

[X ] Question

![image](https://cloud.githubusercontent.com/assets/2263551/16933731/9bca723a-4d26-11e6-9c1d-0c83a0282a9d.png)

I've started make questions in this PR #156 and i got more question so i decide to create this Issue,

I'm trying to follow the steps on wiki to register my app in AppInv.aspx

In AppInv.aspx registration i must fill the *Permission

[2016-07-20 05:44] mike-morrison commented on #158
[code]

See [this page](https://msdn.microsoft.com/en-us/library/office/fp142383.aspx) for the options that can be specified.

This is fairly new functionality.  Apologies for the rough edges.  Thank you for the feedback, please keep it coming.

[2016-07-20 11:29] mauricionr commented on #158
@mike-morrison really thanks in advance, i will check it out!

😄

[2016-07-21 16:27] patrick-rodgers commented on #157
Yep, looks like a bug to me. Thanks for reporting it, I'm working on and testing a fix.

[2016-07-21 16:34] patrick-rodgers commented on #158
[code]

That is the full XML I am currently using for testing. May need to add to it in the future but so far that covers all the bases. We need a wiki article on setting up for testing, I've added it to my list. Thanks @mauricionr.

[2016-07-21 16:38] patrick-rodgers commented on #157
Fixed in dev, closing issue. Thanks again for reporting it and providing enough details to make it easy to find and fix!

[2016-07-21 16:38] #157 closed

[2016-07-21 17:49] patrick-rodgers commented on #158
Added a [new wiki article](https://github.com/OfficeDev/PnP-JS-Core/wiki/Testing-Against-SharePoint) on getting setup for testing.

[2016-07-21 17:49] patrick-rodgers commented on #158
Does that provide enough information such that we can close the ticket? We can always up the article in the future.

[2016-07-21 18:05] mauricionr commented on #158
Yes @patrick-rodgers,

really thanks in advance!

I've alredy register an app and grant the permissions to them, now let's test :smile: !

Thanks again!

[2016-07-21 20:11] mauricionr commented on #158
Hey @patrick-rodgers my first app i've registered with mike XML,

Now i'm trying to register with your XML

I'm getting this message

**The tenant administrator must approve this application.**

![image](https://cloud.githubusercontent.com/assets/2263551/17037170/f37c8036-4f65-11e6-9e28-303b91eda566.png)

![image](https://cloud.githubusercontent.com/assets/2263551/17037187/0878416e-4f66-11e6-928f-

[2016-07-21 20:12] mauricionr commented on #158
I guess this information could be placed at [Testing-Against-SharePoint](https://github.com/OfficeDev/PnP-JS-Core/wiki/Testing-Against-SharePoint)

[2016-07-21 20:58] lousimonetti commented on #157
Awesome, glad I could help.

[2016-07-22 01:30] mike-morrison commented on #158
You need to be a tenant admin to apply those permissions or you need a tenant admin to do it for you.  Otherwise you need to remove all of the tenant scoped permission requests.  I think the assumption was that developers would be running a dev or trial tenant.

[2016-07-22 12:38] mauricionr commented on #158
I'm Principal Administrator Site Collection of three sites

company.sharepoint.com
company.sharepoint.com/search
company-my.sharepoint.com

This is considered tenant admin?

Thanks again!! :smile:

[2016-07-22 14:14] patrick-rodgers commented on #158
I added a line to the article stating this. Unfortunately there isn’t a way around this requirement. You can use the free option, use a developer account tied to an MSDN subscription, or purchase a developer account.

From: Mauricio nunes dos reis [mailto:notifications@github.com]
Sent: Friday, July 22, 2016 8:38 AM
To: OfficeDev/PnP-JS-Core <PnP-JS-Core@noreply.github.com>
Cc: Patrick Rodgers <Pa

[2016-07-22 14:23] mauricionr commented on #158
I'm trying to discovery if i'm a tenant admin with powershell, but i guess i'm.

I've alredy have paied sharepoint online it's not necessary free option or developer account in my case!

Thanks @patrick-rodgers !

[2016-07-22 15:46] mauricionr commented on #158
I've created another dev site to test but the same error :cry:

![image](https://cloud.githubusercontent.com/assets/2263551/17062674/4cf3c328-500a-11e6-9339-133a4faa7ac4.png)

[2016-07-22 15:59] mauricionr commented on #158
This XML works for me, i could trust in my app, but it not equal to the @patrick-rodgers XML, maybe somehting problem will appear

[code]

[2016-07-22 16:30] mike-morrison commented on #158
@mauricionr Are you using the same account you created the O365 tenant with?  By default the tenant admin is the account you created when going through the initial setup.

[2016-07-22 16:39] mauricionr commented on #158
@mike-morrison i request to my boss,

he tried to aprove the app permissions,

neither them could aprove the app permissions,

he created the O365 tenant.

[2016-07-22 20:57] mauricionr commented on #158
I'm trying to request permission in another SharePoint Online and i'm getting the same message.

The user i'm using is the tenant administrator, only exist one user in this enviroment.

![image](https://cloud.githubusercontent.com/assets/2263551/17070777/467fccec-5034-11e6-8167-92a087ba1044.png)

![image](https://cloud.githubusercontent.com/assets/2263551/17070676/b688678e-5033-11e6-9d9f-3b69f26b6

[2016-07-23 22:07] mauricionr opened #163 "Change docs generator"
#### Category
[X ] Enhancement

[ ] Bug

[ X] Question

@patrick-rodgers  I'm researching another docs generator,

i'm thinking about submit a PR changing the docs gen.

This is pretty good, [@use JSDoc](http://usejsdoc.org/)

Any one knows another one, i will keep my researching?

#147

Thanks!

[2016-07-24 13:40] mauricionr commented on #163
This [documentation](https://azure.github.io/azure-mobile-apps-node/) is awsome

![image](https://cloud.githubusercontent.com/assets/2263551/17084071/fb68d03e-518a-11e6-9556-f8d5598ae4d3.png)

![image](https://cloud.githubusercontent.com/assets/2263551/17084065/dfa643ae-518a-11e6-9bd3-6a52f38e87e8.png)

[2016-07-24 14:54] tobiaswest83 commented on #163
TypeDoc is being used as part of #147, i'm making making progress on this. Not sure there's value in changing implementation to another?

[2016-07-24 19:53] jornh commented on #163
I tend to agree with @tobiaswest83 - without having investigated further I'm guessing TypeDoc is the better candidate over jsdoc alone for supporting TypeScript which is the source language for .

And it looks like TypeDoc out-of-the-box is able to generate nice looking docs too, see http://typedoc.io/themes/default/ and http://typedoc.io/themes/minimal/. I'm guessing @patrick-rodgers just started

[2016-07-24 19:55] tobiaswest83 commented on #163
I'll share a Plunk of a work in progress template later using Office UI Fabric controls, I'll check out a comparison of what you've done vs what I've done. Any help is always appreciated, I'm getting married in a month so will be slowing down a bit soon for prep (so I'm told!)

[2016-07-24 20:06] jornh commented on #163
Excellent - let's see where this leads

:smile: - enjoy!

[2016-07-24 22:31] mauricionr commented on #163
I was reading both, [TypeDoc](http://typedoc.io/guides/doccomments.html) and [usejsdoc](http://usejsdoc.org/#block-tags).

In my humble opinion, [TypeDoc](http://typedoc.io/guides/doccomments.html) has poor API for generate documents insted of [usejsdoc](http://usejsdoc.org/#block-tags)

[usejsdoc](http://usejsdoc.org/#block-tags) looks like full feature for TypeScript, Javascript/ES5/ES6/ES7

Typ

[2016-07-25 09:43] jornh commented on #163
@mauricionr initially in this issue you said:

As a newcomer here I just saw https://github.com/OfficeDev/PnP-JS-Core/issues/6#issuecomment-210670842 where the topic of "which tool" has been covered before - might interest you :book:

[2016-07-25 11:10] mauricionr commented on #163
Really sorry I didn't see this one, I will check out then!

Thanks 😃

[2016-07-25 17:01] patrick-rodgers commented on #163
Great discussion folks - we did go with TypeDoc based on @alex-randall's research as well as my trial and error to get things going. I am not wedded to TypeDoc, but it is working so I don't feel a pressure to change. I am more concerned now with getting the documentation formatted nicely, and it is great to see the discussions around that as well. If at some point we need to switch I am open to th

[2016-07-25 17:44] patrick-rodgers commented on #158
Without the app only auth the node client won't work as it only uses app only permissions. Only tenant admins as defined in the tenant settings can approve these permissions. Unfortunately app only is required.

[2016-07-25 18:19] mauricionr commented on #158
@patrick-rodgers where i can find this tenant settings?

Both users i've tested were Tenant admin.

[2016-07-26 17:02] patrick-rodgers commented on #158
Ok, just learned today that they rolled a change, you can now only grant these permissions in the tenant admin site's appinv page. So something like  https://mytenante-admin.sharepoint.com/_layouts/15/appinv.aspx. Please try the same steps there and let us know if it worked. If so I will update the wiki article.

[2016-07-26 17:14] mauricionr commented on #158
@patrick-rodgers now it works, really thanks in advance!

![image](https://cloud.githubusercontent.com/assets/2263551/17147747/76119b3a-533a-11e6-84a7-65a6b7bfb6d3.png)

![image](https://cloud.githubusercontent.com/assets/2263551/17147757/821ff87c-533a-11e6-9e82-f3d2bf88b888.png)

[2016-07-26 17:20] mauricionr commented on #158
@patrick-rodgers they could improve the message, the message looks like the *tenant administrator* is a user not a site

[2016-07-26 17:35] patrick-rodgers commented on #158
Yes, 100% agree - I just learned about this change this morning and we are having the same conversation internally around messaging and the error message text. So far as I know this hasn't been announced publically yet. So...welcome to the cutting edge :)

[2016-07-26 18:46] mauricionr commented on #158
Yay!!!

![image](https://cloud.githubusercontent.com/assets/2263551/17150986/0c05ff66-5348-11e6-9f63-cf06b555216e.png)

[2016-07-27 16:48] patrick-rodgers commented on #158
Great - OK to close this issue? I'll add a link to the wiki to the blog post around the new process.

[2016-07-27 17:07] mauricionr commented on #158
Ok i'm closing now, really thanks!

[2016-07-27 17:07] #158 closed

[2016-07-27 18:29] patrick-rodgers commented on #146
I updated the header and am closing this issue.

[2016-07-27 18:29] #146 closed

[2016-07-28 12:36] arheom opened #167 "HttpClient.fetch() method uses new Headers(), which is not supported by IE and Edge browsers"
#### Category
[ ] Enhancement
[X] Bug
[ ] Question

#### Expected
I was using the following search api to get simple data from SharePoint Search:
_$pnp.sp.search({Querytext: "*"}).then(function (items) {console.log(items);});_
It works as expected in Chrome / Firefox, but in IE / Edge, gets the following error:
_'Headers' is undefined_

#### Observed Behavior
The API does not work in IE / Edge. Af

[2016-07-28 13:25] mauricionr commented on #167
@arheom checkout the [polyfill](https://github.com/OfficeDev/PnP-JS-Core/wiki/Install-and-Use#polyfill), are you already using it?

[2016-07-28 13:43] arheom commented on #167
you are right! I had them in the solution. removed them later cos I didn't know if are used. added them again and works ;).

[2016-07-28 13:43] #167 closed

[2016-07-28 13:56] jornh commented on #167
According to https://blogs.windows.com/msedgedev/2016/05/24/fetch-and-xhr-limitations/ there is support for `fetch()` in *Edge 14*  released as part of the Win 10 "Anniversary Update" this summer.

So one less browser that needs the polyfill (if you keep Win 10 updated) - still  others needing it. Notably IE and Safari http://caniuse.com/#feat=fetch

[2016-08-04 12:27] arheom opened #169 "Provisioning - how to use?"
#### Category

[ ] Enhancement

[ ] Bug

[X] Question
#### Provisioning more info

I am trying to find more information about provisioning functionality. Is there a documentation or something I can dig into to be able to use it? I see I should send a file template in json (applyTemplate function) with the configuration. Is there an already made template I could have a look?

Thanks a lot!
Bogdan

[2016-08-04 18:40] mauricionr commented on #169
@arheom I'm trying to undestand about provisioning

https://msdn.microsoft.com/en-us/pnp_articles/branding-and-site-provisioning-solutions-for-sharepoint

https://msdn.microsoft.com/en-us/pnp_articles/pnp-remote-provisioning

[2016-08-08 14:29] mauricionr opened #170 "getItemsByCAMLQuery in a site with variation enabled getting not found"
#### Category

[ ] Enhancement

[x ] Bug

[X] Question
#### Expected / Desired Behavior / Question

I have an site with variations enable, i'm using this method to get item from a library

[code]

I'm getting 404 because the request url is not the correct url
#### Observed Behavior

this is the current url

`{siteurl}/pt-br/Paginas/_api/web/lists/getByTitle('Banner%20Carrossel')/getitems?$expand=`

[2016-08-12 20:21] patrick-rodgers commented on #138
Closing as per #172 fix. Thanks Mike!

[2016-08-12 20:21] #138 closed

[2016-08-12 20:27] patrick-rodgers commented on #170
Hi Maricio - sorry not 100% sure on the issue, though clearly there is one. Help me understand so we can get it fixed!

Are you in one site, (Site A) and trying to call a second site (Site B)? So what you are really lacking is a way to say that "I am in Site A and want to make a request to Site B which has a different url?"

OR is this actually an issue with variations?

I'll try and setup a site

[2016-08-12 20:31] patrick-rodgers commented on #169
Hi Bogdan,

The provisioning functionality is not as full as with the pnp CSOM remote provisioning library - but there are some methods there. Honestly we likely need to review it as there have been significant updates to the CSOM core which are not reflected here. I am not sure if the pnp templates currently work or not. We discussed this on the last weekly call in fact. Actively looking for some

[2016-08-13 13:25] mauricionr commented on #170
@patrick-rodgers the error happens when i'm trying to get items in the same site, the request is adding the `/Paginas` in the request url causing the error.

but i have some situations that i need to get itens from the parent site, this could be another issue.

got it?

Thanks!

[2016-08-13 13:28] mauricionr opened #173 "Change request url by options"
#### Category
[X ] Enhancement

[ ] Bug

[ ] Question

#### Expected / Desired Behavior / Question
Optional setup the request url in all cases not only in NodeJS implementation

#170

Thanks!

[2016-08-14 00:45] mauricionr commented on #170
@patrick-rodgers i will check out if i can send a backup for you, it is a on primise sharepoint project, ok?

[2016-08-15 20:02] mauricionr opened #174 "Error making GET request: Unauthorized"
#### Category
[ ] Enhancement

[ x] Bug

[ ] Question

I'm trying to get all lists in my site collection, a few days ago it was working fine

this is my permissions

[code]

#### Observed Behavior

x-ms-diagnostics:"3000006;reason="Token contains invalid signature.";category="invalid_client""

Thanks!

[2016-08-15 22:09] mike-morrison commented on #174
@mauricionr Can you get the url the library is trying to access and hit it directly in the browser.

Is there a different error?

[2016-08-15 22:43] mike-morrison commented on #170
@mauricionr @patrick-rodgers I would expect the correct URL to look like:

{siteurl}/_api/web/lists/getByTitle('Banner%20Carrossel')/getitems?$expand=

Without the language.

Can you confirm if this URL works or does it require the language part?  Sorry I don't have an environment where I can install language packs without building a new environment.

[2016-08-15 22:46] mike-morrison commented on #174
Can you please try creating a new app id, give it the same permissions and see if you still get the error?  This can help determine if it is an issue with the registration or the environment.

[2016-08-16 12:17] mauricionr commented on #170
@mike-morrison the variation has created a sub site for each language, i can access via postman the _api stuff without `/Paginas/`, the problem is the `/Paginas/`path in the url.

- correct url(without `/Paginas/`
  `{siteurl}/{lang}/_api/web/lists/getByTitle('Banner%20Carrossel')/getitems?$expand=`

- incorret(with `/Paginas/`)
  `{siteurl}/{lang}/Paginas/_api/web/lists/getByTitle('Banner%20Carro

[2016-08-16 12:17] mauricionr commented on #174
@mike-morrison i will try again

Thanks

[2016-08-16 12:52] mauricionr opened #178 "Sharepoint 2013 REST API limitations with site columns"
#### Category
[ ] Enhancement

[ ] Bug

[X ] Question

#### Expected / Desired Behavior / Question
Suport all kind of field type

#### Observed Behavior
I'm using PnP-JS-Core and i need get some fields, but according to this link, i can't.
[Sharepoint 2013 REST API limitations with site columns](http://rayudu86.blogspot.com.br/2015/05/sharepoint-2013-rest-api-limitations.html)

They don't come wit

[2016-08-16 14:27] mauricionr commented on #174
@mike-morrison i've created another app, grant permissions and i'm still getting 401

[code]

[code]

[2016-08-19 13:16] patrick-rodgers commented on #163
Going to close this as for now at least we will stay with the TypeDoc setup we have. Would like to focus on making the doc UX better, making the docs accessible, and improving the comments. Thanks all for a good discussion.

[2016-08-19 13:16] #163 closed

[2016-08-19 13:24] patrick-rodgers commented on #178
We are targeting REST as much as possible so if there is a gap in the API you can submit a [user voice](https://sharepoint.uservoice.com/) request to let the team know. I haven't looked at this but perhaps there is something we can add to help ease getting these fields in REST - but it looks from that article you linked that we would need to make requests for those fields separately. I am not sure

[2016-08-19 19:38] mauricionr opened #182 "How to page items using getItemsByCAMLQuery"
#### Category
[ ] Enhancement

[ ] Bug

[X ] Question

#### Expected / Desired Behavior / Question
Page items using getItemsByCAMLQuery, maybe using getPaged

#### Observed Behavior
getItemsByCAMLQuery return a promise, how to get the next and prev items?

#### Steps to Reproduce

Thanks!

[2016-08-19 20:00] mauricionr commented on #178
@patrick-rodgers it works, i found this columns on FieldValuesAsHtml, Thanks!

[2016-08-19 20:00] #178 closed

[2016-08-22 20:32] mauricionr commented on #174
@patrick-rodgers @mike-morrison  I've created a Dev Tenant from Office 365 dev program and got the same error

[2016-08-23 04:58] sksnips commented on #174
I am also getting the same error, when accessing SharePoint from Node console application. Any luck?

[2016-08-23 14:44] patrick-rodgers commented on #174
Hi all, I am able to reproduce this. I am not aware of any changes in our code that would affect this behavior - so I've reached out to see if there is anything happening in the service. I am leaving for vacation today in fact so won't have a chance to follow up until next week. Can be discussed in the weekly call on Thursday as well with @VesaJuvonen who might have some more info then.

[2016-08-23 15:54] patrick-rodgers commented on #174
There has been an update to the service and it looks like it is just hitting all of the tenants. I was able to get things working again by following these steps:

1.  Register the add-in in the site you want to read's appregnew.aspx page. http://tenant.sharepoint.com/_layouts/appregnew.aspx
2. Go to the appinv page **in your admin site** and grant the permissions http://tenant-admin.sharepoint.com

[2016-08-23 16:10] mauricionr commented on #174
It's kind weird, i did almost the same thing you said now, instead of

1. Register the add-in in the site you want to read's appregnew.aspx page. http://tenant.sharepoint.com/_layouts/appregnew.aspx
2. Go to the appinv page in your admin site and grant the permissions http://tenant-admin.sharepoint.com/_layouts/appinv.aspx
[code]

3. Go back to the site you want to read and register the below perm

[2016-08-23 16:26] patrick-rodgers commented on #174
Getting the realm will always come back as 401 - that is expected. That is a trick to get the realm since the realm is returned in the 401 response. Glad you are unblocked. Perhaps there is a smoother way to do this, but for now at least you can proceed. Maybe you or others will have time while I am out to explore options - I'll check in once I am back.

[2016-08-23 16:47] mauricionr commented on #174
Thanks @patrick-rodgers.

[2016-08-23 22:14] mauricionr opened #183 "Error: Cannot find module './fetchclient' on ubuntu"
#### Category
[ ] Enhancement

[X ] Bug

[ ] Question

#### Expected / Desired Behavior / Question
load pnp library

#### Observed Behavior
Error: Cannot find module './fetchclient'

#### Steps to Reproduce
run `npm install sp-pnp-js`
require this library in index.js file `const pnp = require('sp-pnp-js');`
run `node index.js`

![image](https://cloud.githubusercontent.com/assets/2263551/17911747/c

[2016-08-25 19:47] SPDoctor opened #185 "Missing node-fetch in rendered SPFx client-side web-part"
#### Category
[ ] Enhancement

[X ] Bug

[ ] Question

#### Expected / Desired Behavior / Question
Dependencies such as node-fetch should be installed when the npm package is installed.

#### Observed Behavior
On building an SPFx client-side web-part using sp-pnp-js library I get a runtime error in the rendered web part that the module node-fetch is missing.

![image](https://cloud.githubuserconte

[2016-08-26 06:12] johnnliu commented on #185
we had a discussion about this in gitter https://gitter.im/OfficeDev/PnP-JS-Core?at=579df1917fd9f73e16ee89aa regarding the node-fetch dependency introduced as part of 1.0.3

technically, whether node is required depends on the target build from webpack.  If webpack target=web, then node-fetch should NOT be included, as the js is designated to go to the client.  However, if webpack target=node, the

[2016-08-26 06:15] johnnliu commented on #185
If you have access to your web.config, I've found this works the best.

[code]

I tell webpack ah don't worry about that node-fetch thing, it's already available as {}
So webpack happily skips it.

[2016-08-26 06:33] AvniBhatt opened #186 "syntax error: Unexpected token < in JSON at position 0"
Category : Question

I am using SharePoint 2013 On-Premise. I have written following code to get web title and description:
`$pnp.sp.site.rootWeb.get().then(function(web) {

  document.getElementById("sample").innerText = "Title: " + web.Title + "\r\n" + "Description: " + web.Description;

}).catch(function(err) {
   alert(err);
});
`

But I am getting following error:

`syntax error: Unexpected t

[2016-08-26 08:32] SPDoctor commented on #185
Thanks, @johnnliu. That would definitely be a better workaround, as including node-fetch adds triples the size of the distribution file. But I couldn't find webpack.config - it must be buried deep in the SharePoint Framework build system and I haven't got to grips with this yet.

In any case, if this is the main use-case or the library we need to either fix it in the library or fix it in the Share

[2016-08-26 09:12] johnnliu commented on #185
I found it.  https://github.com/defunctzombie/package-browser-field-spec

When 'browser' is specified in a package.json - we can specify a different starting point for bundlers (browserify, webpack) for target=browser.  Otherwise it will default to main...

And then I go and check package.json and it's already there!  But it's wrong.
![image](https://cloud.githubusercontent.com/assets/1279372/1800

[2016-08-26 09:13] johnnliu commented on #185
Change to

`    "./lib/net/nodefetchclient.js": "./lib/net/nodefetchclientbrowser.js"
`

Seems to fix it for me.

[2016-08-26 11:19] mauricionr commented on #186
@AvniBhatt have you followed this step [Install and use](https://github.com/OfficeDev/PnP-JS-Core/wiki/Install-and-Use)?

[2016-08-26 11:31] SPDoctor commented on #185
That fix seems to work - awesome! I fixed it locally by going to node-modules/sp-pnp-js/package.json and finding the browser section and changing it per your PR.

[2016-08-26 11:31] #185 closed

[2016-08-30 09:10] lambertqin opened #188 "How can I query a list from other site collection?"
#### Category
[ ] Question

How can I query a list from other site collection?
for example, I am in site collection A (sites/a), if I want to get a list item from site collection B(sites/b). how can i do that?
I googled a lot, but it seems all samples are within same site. like pnp.sp.web.***

Thanks!

[2016-08-30 12:44] mauricionr commented on #188
@lambertqin i guess is not possible yet, checkout these issues #182 #173

[2016-09-01 20:11] patrick-rodgers commented on #186
It sounds like you are targeting an on-prem environment with the minimal metadata options disabled. This was fixed, please see this #127 for details. You can also [see my blog post](https://blogs.msdn.microsoft.com/patrickrodgers/2016/06/13/pnp-jscore-1-0-1/) from when this was added to the library. Please give this a try and let us know if it resolves your issue.

[2016-09-01 20:16] patrick-rodgers commented on #182
Would encourage you to use the REST options whenever possible. The CAML was added to support legacy needs. You can see an example of paging in the samples add-in. [Example file](https://github.com/OfficeDev/PnP/blob/master/Samples/SharePoint.pnp-js-core/SharePoint.pnp-js-core/Samples/ReadListItemsPaged.html)

[2016-09-01 20:22] patrick-rodgers commented on #188
You can do this by creating a new Site or Web object with the full url as here:

import { Site } from "sp-pnp-js/lib/sharepoint/rest/Site";
let s = new Site("https://{tenant}.sharepoint.com/sites/dev");
s.rootWeb.get().then(r => console.log(JSON.stringify(r)));

[2016-09-01 20:22] patrick-rodgers commented on #173
You can do this by creating a new Site or Web object with the full url as here:

import { Site } from "sp-pnp-js/lib/sharepoint/rest/Site";
let s = new Site("https://{tenant}.sharepoint.com/sites/dev");
s.rootWeb.get().then(r => console.log(JSON.stringify(r)));

[2016-09-01 20:22] #173 closed

[2016-09-01 20:22] #188 closed

[2016-09-01 22:07] mauricionr commented on #182
@patrick-rodgers this example don't use getItemsByCamlQuery,  i have some project that i use a lot of caml like, DateRageOverLap, Membership, and since this method return a promise i don't see how to paged the items...

I think that this method could be placed in Items class, i'm studing the code to make this feature.

got it?

[2016-09-01 22:09] mauricionr commented on #173
@patrick-rodgers thanks, i will try this!

[2016-09-02 08:39] AvniBhatt commented on #186
Yes it worked. Thank You

[2016-09-02 08:39] #186 closed

[2016-09-02 12:21] patrick-rodgers commented on #183
Closing this based on merge of #184. Thanks!

[2016-09-02 12:21] #183 closed

[2016-09-02 12:58] patrick-rodgers commented on #174
I updated the wiki article on this, so closing issue. Thanks for reporting it!

[2016-09-02 12:58] #174 closed

[2016-09-04 23:11] NPrice99 opened #191 "sp-pnp-js@1.0.4 fails when trying to use"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

#### Category
[ ] Enhancement

[X ] Bug

[ ] Question

#### Observed Behavior
sp-pnp-js should just compile successfully.  It does not.  I get error 👎

 sp-pnp-js@1.

[2016-09-05 17:09] NPrice99 commented on #191
I fixed this error with npm install -g typings --save However, I now get this message -
Error - typescript - src\webparts\siteInfo\components\SiteInfo.tsx(3,22): error TS2307: Cannot find module 'sp-pnp-js'.

Yet this says it is installed -

C:\XXXX\YYYY\ZZZZ\Documents\SPFx\Projects>npm install -g sp-pnp-js

+-- chai (global)
+-- chai-as-promised (global)
+-- es6-promise (global)
+-- microsoft.aja

[2016-09-06 11:24] NPrice99 commented on #191
Hi

I finally got this to work by doing the following :-

I tried npm install -g sp-pnp-js --save

That did not work.

But npm install --save sp-pnp-js did work !!

So why could I not install sp-pnp-js globally ??

Regards

Nigel

[2016-09-06 14:43] patrick-rodgers commented on #191
This is resolved as discussed in Yammer, please do let us know if you have any other issues. Thanks!

[2016-09-06 14:43] #191 closed

[2016-09-06 14:50] patrick-rodgers commented on #40
I'm going to cover content types for tests.

[2016-09-07 11:52] ivanvagunin opened #192 "SharePoint 2013 - rest api query fails with "Invalid character" error"
#### Category
[ ] Enhancement

[X ] Bug

[ ] Question

#### Expected / Desired Behavior / Question
Expected not to fail

#### Observed Behavior
When execute query against SharePoint 2013 farm, it fails with "Invalid character" error.

#### Steps to Reproduce
let item = pnp.sp.web.lists.getById(listId).items.getById(itemId);
item.get().then((item) => {}).catch(err => {
    pnp.log.write(err, pnp.lo

[2016-09-07 12:58] patrick-rodgers commented on #192
Please see #186, this has been addressed several times previously. Also covered in the release notes for the 1.0.1

[2016-09-07 13:05] ivanvagunin commented on #192
indeed, thanks!

[2016-09-07 13:05] #192 closed

[2016-09-09 11:01] koltyakov commented on #182
Hi Mauricio,

Raw CAML and SharePoint itself have never been friendly to lists paging.
Sometimes you need to use RowLimit in a query and some additional condition which let you receive the next or previous chunk of data.

In something like that logic:

$pnp.sp.web.lists.getByTitle('Custom02').getItemsByCAMLQuery({ ViewXml: "<View><RowLimit>10</RowLimit><Query><Where><Gt><FieldRef Name='ID' /><Valu

[2016-09-09 11:03] koltyakov commented on #182
Hi Mauricio,

Raw CAML and SharePoint itself have never been friendly to lists paging.
Sometimes you need to use RowLimit in a query and some additional condition which let you receive the next or previous chunk of data.

In something like that logic:

`$pnp.sp.web.lists.getByTitle('Custom02').getItemsByCAMLQuery({ ViewXml: "<View><RowLimit>10</RowLimit><Query><Where><Gt><FieldRef Name='ID' /><Val

[2016-09-09 11:05] koltyakov commented on #182
Hi Mauricio,

Raw CAML and SharePoint itself have never been friendly to lists paging.
Sometimes you need to use RowLimit in a query and some additional condition which let you receive the next or previous chunk of data.

In something like that logic:

[code]

Without getItemsByCAMLQuery, with top and skip, otherwise the logic have to be identical:

[code]

Where .top(N) will be transformed to $to

[2016-09-09 11:10] koltyakov commented on #169
Also interested in some additional information and examples about this.

[2016-09-14 14:41] arheom opened #195 "Adding a file content into a Folder using the Blob interface"
#### Category
[ ] Enhancement

[ ] Bug

[X] Question

#### Question
I am trying to use the Folder.files.add function to upload a document into a folder, but I am struggling with the parameters.
The method is inside the files.ts (Folder):
`public add(url: string, content: Blob, shouldOverWrite = true)`
and the content parameter is of type Blob:
`interface Blob {
    size: number;
    type: string;

[2016-09-14 14:58] arheom opened #196 "Provisioning Sequencer not working"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Description
I created one provisioning file and tested it against the provisioning framework from pnp. The sequencer.execute method fails to work, because there are a lot of anonymous functions which will hide the this object and eventually inside the this.scope, this.parameter will return undefined.
In order to work, we need to transform

[2016-09-14 15:27] arheom opened #197 "Provisioning ObjectHandlers/objectlists.ts issue on GetFieldXml"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Description
The FieldXml element is not created correctly inside this method, because of a wrong placement of a line inside the GetFieldXml method (objectlists.ts file):
`properties.push(`${prop}="${value}"`);`
should be moved outside of the if:
`if (prop === "List") {`
because now will only add the property if it is named List and should

[2016-09-14 16:27] patrick-rodgers commented on #195
If you get the file from the input, this example uses jquery you should be able to pass that as the blob.

`var file = $(this).find("input")[0].files[0];`

[2016-09-15 09:20] arheom commented on #195
Not sure if I got your example. I am using Typescript, so I need to pass a Blob object, defined in Typescript. In javascript I can just pass the content as Blob object and should work, but in Typescript I get an error and not sure how I can solve it.

[2016-09-15 15:30] waldekmastykarz opened #198 "Unable to sort items descending"
#### Category
[ ] Enhancement
[x] Bug
[ ] Question

#### Expected / Desired Behavior / Question
When calling `pnp.sp.web.list.get().items.orderBy('Id', false)` the REST query should contain `$orderby=Id desc`.
Currently the second parameter in the `orderBy` function determines whether sorting should be done ascending. Given that that's the default setting, consider changing the second parameter to

[2016-09-15 17:07] koltyakov commented on #198
Hi Waldek,

This one seems to be an easy one to fix.
I've created a pull request https://github.com/OfficeDev/PnP-JS-Core/pull/199 with the fix.

[2016-09-19 16:06] patrick-rodgers commented on #198
Closing based on merge of #199.

[2016-09-19 16:06] #198 closed

[2016-09-20 14:51] patrick-rodgers commented on #195
Since you haven't shared the error you are getting I am having to guess it is a typing error. The below is correctly typed when I test it. Can you do something like that?

[code]

[2016-09-20 15:10] patrick-rodgers commented on #197
Fixed in #200 and merged to dev

[2016-09-20 15:10] #197 closed

[2016-09-20 15:10] patrick-rodgers commented on #196
Fixed in #200 and merged to dev

[2016-09-20 15:10] #196 closed

[2016-09-20 19:45] Djemel opened #201 "Export Web"
[ ] Enhancement

[ ] Bug

[X ] Question

I am loading the sp-pnp-js library from our own CDN and using "pnp.sp...." using:
import * as pnp from "sp-pnp-js";

But in my script I also need to talk to "other" web to get and write data, so I am also using:
let anotherweb = new Web('https://mysharepoint.local/sites/team/anotherweb');
and in order for that to work I need to add:
import { Web } from "sp-

[2016-09-20 21:36] patrick-rodgers commented on #201
Great question, let me think about it as this has come up in a few cases from various angles. Open to suggestions from folks as well.

[2016-09-20 22:17] mauricionr opened #202 "How to add items using batch"
#### Category
[ ] Enhancement

[ ] Bug

[X ] Question

#### Expected / Desired Behavior / Question
add multiple items

#### Observed Behavior
i'm getting GET request instead of POST

#### Steps to Reproduce
[code]
Thanks!

[2016-09-20 22:24] mauricionr commented on #202
add in Items already use batch `addBatchDependency` ?

[2016-09-20 23:25] mauricionr opened #203 "The number of items in this list exceeds the list view threshold"
#### Category
[x ] Enhancement

[ ] Bug

[ x] Question

#### Expected / Desired Behavior / Question
Return all items in a list from SharePoint Rest API

#### Observed Behavior
more than 5000 items getting error while reading the list
The number of items in this list exceeds the list view threshold

#### Steps to Reproduce
List with more than 5000
Get item requesting more than 5000
[code]

Thanks!

[2016-09-20 23:29] mauricionr opened #204 "How to work with a lots of items(>= 10000) and generate reports"
#### Category
[ ] Enhancement

[ ] Bug

[ X] Question

### Question

I have a scenario that i need work with big data in sharepoint but the rest api looks like not full feature
wich is the best practice for this?(use JavaScript CSOM?)

Thanks!

[2016-09-21 08:07] koltyakov commented on #204
Hi Mauricio,

I usually deal with this by chunking result data to return less than 5000 logically (or whatever is a throttling limit in the environment). And merging result on a client, if you really need a "view" in your app/report with more than 5000 items. Where is possible, such scenarios should be avoided, as heavy and is better to use the search API and paging.

Example of a chunk data reque

[2016-09-21 08:16] koltyakov commented on #202
Did you try to use:

[code]

This works for me:

[code]

[2016-09-21 08:25] koltyakov commented on #203
Hi Mauricio,

You can't provide $top more than a throttling limit. By default, the throttling limit equals to 5000 for a list view. Any view should return less than this value to work.
If you deal with some export long running procedures you can use something similar which is described in https://github.com/OfficeDev/PnP-JS-Core/issues/204, in apps it's better to build the "views" to be less than

[2016-09-21 14:13] patrick-rodgers commented on #202
Yes, I believe @koltyakov is correct and you are missing the batch.execute call, which now as of 1.0.4 also returns a promise so you no longer need to build the promises array (though you can, nothing stops what you are doing from working).

[2016-09-21 14:28] koltyakov commented on #202
Hi Patrick,

I have a following behavior:

[code]

So in case of POST requests `Promise.all` is an option.

[2016-09-21 15:26] patrick-rodgers commented on #202
@koltyakov - That sounds like a bug in how I implemented that - so need to please log that as a separate issue so we can take a look. Thanks!

[2016-09-21 15:31] patrick-rodgers commented on #204
There is currently no way (nor should there be from the client) a way to circumvent around the API limits. So you would need an approach similar to what @koltyakov posted. You can also see [this sample](https://github.com/OfficeDev/PnP/blob/master/Samples/SharePoint.pnp-js-core/SharePoint.pnp-js-core/Samples/ReadListItemsPaged.html) using the library to page through the results, which could be use

[2016-09-21 19:00] mauricionr commented on #202
@koltyakov  @patrick-rodgers in this case

[code]
The then callback means that all request were executed, or all request have been passed to batch service and the batch will work in these requests.

in my scenario i need to pass a lot of data to be created in a list, but the problem is when the user refresh the page, not all request are completed.

got it?

[2016-09-21 19:16] koltyakov commented on #202
This is related to the JS app's logic more than to PnP-JS-Core and batching.
Batching has a "reasonable" limitation to the amount of the requests in a package.
I would recommend to tweak the size of a batch for your case (25 requests per batch, for instance), block UI detecting saving process (progress bar is perfect here) and call next batch chunk after the previous one completion callback.
By se

[2016-09-21 20:01] patrick-rodgers commented on #202
The design is that the promise returned from the batch's execute should resolve once all of the "child" promises have resolved. There is nothing we can to if the user refreshes the page while things are running as there is no way to recover/track state in that case. Long running operations are best moved to a remove service you can call from your application - that way if the user closes the page

[2016-09-22 14:21] mauricionr commented on #195
@patrick-rodgers the file don't need use `FileReader ` API to `readAsArrayBuffer` and then pass to this method `add()`?

[2016-09-22 16:38] arheom commented on #195
@patrick-rodgers: Yes, it is only a typing issue. I actually have the following scenario: I read one file from one url (using $.ajax) and transform the content into an ArrayBuffer. I pass this one to the pnp, like:
pnp.sp.site.rootWeb.getFolderByServerRelativeUrl(targetFolderUrl).files.add(fileName, buffer as Blob)
And it works. But I needed to overwrite the typing for Blob to be able to have it w

[2016-09-23 11:24] patrick-rodgers commented on #195
@mauricionr - in my testing when I wrote it no, just appending the blob works. If that is not the case we can re-visit.

@arheom - going to close this issue as resolved, please do let us know if that is not the case.

[2016-09-23 11:24] #195 closed

[2016-09-23 18:47] mauricionr commented on #203
After the list reach more than 5000 items, if i try to get any top(x<5000) i got this error,

`The number of items in this list exceeds the list view threshold`

After create a indexed column in the list i could get the items top(100)

it is important to index any column after reach more than 5000 item?

[2016-09-23 19:18] koltyakov commented on #203
By wrong indexing it's possible to make it worse, never abuse with indexes.
It's better not indexing at all than apply indexes incorrectly.
Query/view filtering will work only if data array is less than 5000 after applying first logical condition with use if indexed field, also, not every operand can be used for this, e.g. `not equal` or `in` won't work.
I would highly recommend using search API i

[2016-09-26 08:23] arheom opened #205 "Get a specific list from a specific sub web of a site collection?"
#### Category
[ ] Enhancement

[ ] Bug

[X] Question

#### Question
I am trying without success to get a list with a specific title, from a specific subsite and cannot find a way. In REST Api I was directly change the URL of the _api, but not sure how to do it here:
I would like to get the web with Title 'de' and from inside to get a list with the Title 'fish' for example. Tried multiple ways, but

[2016-09-26 16:05] koltyakov commented on #205
Hi,

+1

Also interested in a correct way for achieving this.
I know one hack - changing `_spPageContextInfo.webAbsoluteUrl` in runtime.

Like:

[code]

Yet, this is just a workaround.

[2016-09-26 22:09] patrick-rodgers commented on #205
This should work:
[code]

[2016-09-27 07:57] kchiragowni commented on #191
Hi @patrick-rodgers , I wanted to install and use SP-PNP-JS in our JavaScript app and when I'm trying to install I'm getting the same error (postinstall: 'typings install') failed. I don't want to use typescript/typings in my JS projects. Can I use this library in our JS project (ES6, React and Redux)?

[2016-09-27 17:08] russgove commented on #191
Hi Kiran,
You should be able to just download pnp.js from the dist floder (
https://github.com/OfficeDev/PnP-JS-Core/blob/master/dist/pnp.js) and
include it in your project. No build required.
Russell

On Tue, Sep 27, 2016 at 3:57 AM, Kiran <notifications@github.com> wrote:

[2016-09-28 15:47] rgarita opened #206 "Typing's dependency needed to compile"
#### Category
[ X] Enhancement

[ ] Bug

[ ] Question

#### Expected / Desired Behavior / Question
When you import the library using npm, the desired behavior is be able to compile all without problems. Or at least have the instructions on how get the environment ready  . I was having a TS compilation issue over some .d.ts files, mostly about the Response class.

<img width="335" alt="2016-09-28_9

[2016-09-30 14:14] kalabo opened #207 "Pagination for search results"
The ability to have a simple pagination method with examples for the sharepoint search api wrapper with possibly an internal array value with the previous pages and a next page view link.  I can see this as being very useful.

[2016-10-01 03:16] patrick-rodgers commented on #207
Great meeting you at Ignite - I'll try and start looking at this next week. A great idea, thanks for sharing it!

[2016-10-01 10:25] koltyakov commented on #207
Even now it is possible in a pretty simple way, like:

[code]

PnP-JS-Core proxies SearchQuery parameters that can be seen in [search.ts -> SearchQuery intenface](https://github.com/OfficeDev/PnP-JS-Core/blob/master/src/sharepoint/rest/search.ts).

[2016-10-02 12:22] estruyf opened #208 "Incorrectly retrieving oAuth token"
#### Category
[ ] Enhancement
[x] Bug
[ ] Question

#### Expected / Desired Behavior / Question
I'm currently building a test application with Node.js and PnP-JS-Core. My setup configuration looks like this:

[code]
When I try to do something simple, like retrieving the site title I retrieve the following generic error: `Error making GET request: Unauthorized`. I also saw another issue with the sa

[2016-10-04 10:27] patrick-rodgers commented on #203
Going to close this as by design - there is nothing we can do in the library, nor should do, to circumvent the throttling. Paging can be used to aggregate items for those rare cases where large numbers are needed. It is not recommended to do operations on large numbers of items in the browser.

[2016-10-04 10:27] #203 closed

[2016-10-04 10:27] patrick-rodgers commented on #204
Going to close this as well, it appears to be answered with a good code sample. Please re-open if things aren't clear.

[2016-10-04 10:27] #204 closed

[2016-10-04 10:28] patrick-rodgers commented on #205
Going to close this as answered, please let us know if things remain unclear. Thanks!

[2016-10-04 10:28] #205 closed

[2016-10-04 16:19] patrick-rodgers commented on #208
Hi Elio, I've been reviewing this and I am unable to reproduce, but perhaps I don't have a secret with a plus. Could it be that we need to url encode the secret and id in the body? That somehow fetch is not handling that? The error you are getting around invalid client secret seems to point to that. So instead of including new libraries can we encode the values and solve it that way?

[2016-10-04 16:20] patrick-rodgers commented on #202
Going to close this one as it appears to be addressed, please reopen if that is not the case. Thanks everyone for the discussion!

[2016-10-04 16:20] #202 closed

[2016-10-04 16:23] estruyf commented on #208
@patrick-rodgers, you could try that. For me, that didn't work out.

BTW, I didn't have to install request, it was already part of the modules were installed. Only had to install the typings.

[2016-10-04 16:28] patrick-rodgers commented on #208
Hmmm, ok. Let me look at it some more, I want to see it repo then I can actually test your fix. But wanted to let you know I am not ignoring your PR - very much appreciate your work figuring this out and fixing it. Now I'm just playing catch up :)

[2016-10-04 18:48] estruyf commented on #208
@patrick-rodgers tried encoding the secret again and it worked out. Don't know why it didn't before, but will PR that one.

[2016-10-04 19:03] estruyf commented on #208
@patrick-rodgers #211 should be better. Accidently did #210 against the master branch.

[2016-10-04 20:21] patrick-rodgers commented on #208
Closing based on fix supplied. Thanks!

[2016-10-04 20:21] #208 closed

[2016-10-05 14:37] arheom commented on #169
Hi Patrick (@patrick-rodgers),

I could also work a bit on the provisioning part. I need to implement anyhow for the project I am working now some site columns, site content type and web provisioning, so better to have it in the pnp. Do you have some starting kit for the provisioning part (to import some code from the CSOM project?)?

Thanks!

[2016-10-05 15:18] patrick-rodgers commented on #169
Hi @arheom,

I don't have a starter kit or anything. What is there was contributed early on in the project and hasn't really been updated. There would be two ways to approach provisioning in js core:

- Take what is there now and begin modifying it.
- Start fresh and design around processing the templates used by CSOM engine

Personally I would like to ensure that IF we are going to embark on tryi

[2016-10-05 15:21] patrick-rodgers commented on #201
Small update - still working on this, but had a laptop die (and I was a bad developer and wasn't daily shelving my work) so I've lost what I did. Will continue working on this and plan to include in 1.0.5 hopefully late this week or early next week.

[2016-10-06 19:05] ravenboilinux opened #212 "Typescript error when build the project"
#### Category
[ ] Enhancement

[X ] Bug

[ ] Question

#### Expected / Desired Behavior / Question
Gulp should build the typescript completely

#### Observed Behavior
Everytime I build the my project that use the pnp framework i get this error
[14:59:47] ==================[ Finished ]==================
Error - typescript - node_modules\sp-pnp-js\lib\net\httpclient.d.ts(3,15): error
 TS2304: Cannot

[2016-10-06 19:20] patrick-rodgers commented on #212
Thanks for reporting this, I just started noticing this myself - which makes me think something changed in a dependency. Will take a look.

[2016-10-06 20:48] patrick-rodgers commented on #201
Closing based on #213. Now exporting many of the internals - will detail in release blog post but if you pull dev branch you can now do the following and it works with webpack bundling (at least the way I had webpack configured for testing :) )

[code]

[2016-10-06 20:48] #201 closed

[2016-10-09 05:54] Abrissirba opened #214 "Update file contents with REST"
#### Category
[x ] Enhancement

[ ] Bug

[x ] Question

#### Expected / Desired Behavior / Question
I want to be able to update the contents of a file with REST.

#### Observed Behavior
I can't see any way of making the rest call defined in https://msdn.microsoft.com/en-us/library/office/dn450841.aspx that suggest a call to getfilebyserverrelativeurl('/Shared Documents/filename.txt')/$value with t

[2016-10-10 09:49] okaufmann commented on #212
Same here, built with webpack...

[2016-10-10 13:05] okaufmann commented on #212
When I add the following line to typings.json it builds.

[code]

`whatwg-fetch` was removed in a previous commit, so this could be the source of the problem:
https://github.com/OfficeDev/PnP-JS-Core/commit/41bf53815a53a85e391c5dd0fd674a8059db238b

Hope this helps.

[2016-10-10 13:34] okaufmann commented on #206
Same described in https://github.com/OfficeDev/PnP-JS-Core/issues/212

[2016-10-10 15:58] arheom commented on #169
Hi @patrick-rodgers,

Thanks for the info! I did a mix between those for now (we still need to implement this into a running project, so cannot do it now from scratch...would need discussions about architecture, re-design...which will take time). So I used the same architecture like the current solution, but got all the code from the CSOM repository and transformed it into JSOM (with some exceptio

[2016-10-10 18:00] patrick-rodgers commented on #212
Closing this based on #215. Documentation updates pending in wiki

[2016-10-10 18:00] #212 closed

[2016-10-10 18:00] patrick-rodgers commented on #206
Closing this based on #215. Documentation updates pending in wiki

[2016-10-10 18:00] #206 closed

[2016-10-10 18:57] patrick-rodgers commented on #214
Great suggestion, will try and sneak this into 1.0.5.

[2016-10-11 16:49] patrick-rodgers commented on #214
Had a look at this and we do already have the saveBinaryStream method on file which takes a blob. Does that option not work for you or do you need some other functionality it isn't providing?

[2016-10-12 04:00] showenx opened #219 "Profiles myProperties get parameters"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

#### Category
[ ] Enhancement

[ ] Bug

[X] Question

#### Expected / Desired Behavior / Question
Hi,
First of all, great library with big potentials, really like it

[2016-10-12 15:15] patrick-rodgers commented on #219
unsure on your need - but I think you might be looking too deep into the library. If you want only to select some of the properties you can use the select operator to do so.

[code]

Does that get you what you need?

[2016-10-12 21:30] pranavmmodi opened #221 "Error "TS2300: Duplicate identifier 'Promise'" after installing in a SPFx project"
#### Category

[ ] Enhancement

[+ ] Bug

[ ] Question

Getting some typings while running application.

![error](https://cloud.githubusercontent.com/assets/16353403/19328397/afbcb296-9090-11e6-8888-9274ffc7deb7.png)

Looks like postscript is not running while installing sp-pnp-js module. it use to work fine till yesterday and today something goes wrong.

[2016-10-12 22:27] showenx commented on #219
yes, that's what I'm after, thanks

[2016-10-13 08:02] aurelienprevotMVP opened #222 "Calling web from another folder than root..."
Hi guys,

We met a problem here : when we try to use the library from a page not stored at the root of a site, we met a 404 error, because the /_api is called from the current folder, and not from the root of the current site.

Another guy met this problem here. The problem is more detailed :
https://techcommunity.microsoft.com/t5/SharePoint-Developer/PnP-JavaScript-Core-Only-for-Web-Parts/m-p/176

[2016-10-13 13:29] patrick-rodgers commented on #219
Great, going to close the issue then. Cheers!

[2016-10-13 13:29] #219 closed

[2016-10-13 13:31] patrick-rodgers commented on #221
What version of the library? If you have updated to 1.0.5 it is targeted to TypeScript 2.0. Did you get a chance to review the [release notes post](https://blogs.msdn.microsoft.com/patrickrodgers/2016/10/11/pnp-js-core-1-0-5/) or the [updated app setup post](https://blogs.msdn.microsoft.com/patrickrodgers/2016/10/11/node-console-app-debugging-typescript-2-0-in-vs-code/)?

[2016-10-13 17:00] pranavmmodi commented on #221
I am using typescript 2.0 and Tried both version  1.0.5 and 1.0.4 , same issue

[2016-10-13 17:03] pranavmmodi commented on #221
![image](https://cloud.githubusercontent.com/assets/16353403/19358809/9734b134-9134-11e6-9e53-e95190a060d5.png)
Here I was anticipating some post install script which use to install some typescript or something.. Lets see if that help

[2016-10-13 19:51] patrick-rodgers commented on #222
I have a guess at what is happening here. The usercustomaction code is executed before the _spPageContextInfo is defined on the page. If that happens there isn't much we can do. We don't "parse" the url at all, we just look for that global var.

Starting with 1.0.5 (just released this week) you can export the Web object and set it to any url you like:

[code]

Which would allow you to determine th

[2016-10-13 19:53] patrick-rodgers commented on #221
There is no longer a post install step, it was removed. We now depend on some of the @types libraries to do the typings where we used to use typings. In what context are you trying to use the library? You haven't given us much to go on in terms of helping you - so the more info you can share the more we can try and help.

[2016-10-13 19:54] patrick-rodgers commented on #214
Any updates here? Was the saveBinaryStream method what you needed?

[2016-10-13 19:55] patrick-rodgers commented on #68
Going to close this one for now, please reopen it if you have an update or any progress to add. Been open for a bit with no activity.

[2016-10-13 19:55] #68 closed

[2016-10-13 19:55] patrick-rodgers commented on #132
Going to close this one for now, please reopen it if you have an update or any progress to add. Been open for a bit with no activity.

[2016-10-13 19:55] #132 closed

[2016-10-13 19:56] patrick-rodgers commented on #182
Going to close this as it appears answered with a solid code example. Please re-open if things are still not working or unclear. Thanks!

[2016-10-13 19:56] #182 closed

[2016-10-13 20:19] pranavmmodi commented on #221
I understand. I am trying to run this library with share point client side framework (SPFX) http://dev.office.com/sharepoint/docs/spfx/web-parts/get-started/build-a-hello-world-web-part

This project is with React, Typescript and Gulp all provided in initial setup by Microsoft.

Everything use to work fine until yesterday untill I take latest of sp-pnp-js.  Task Typescript start throwing error. Ju

[2016-10-13 20:39] pranavmmodi commented on #221
Ok so Its look like reference syntax create problem in my project.

Error on line /// <reference types="core-js" />   and issue is getting fixed after I remove one / from reference.     // <reference types="core-js" />  just work fine

![image](https://cloud.githubusercontent.com/assets/16353403/19366050/cd32e06c-9152-11e6-8e97-f59bb141b3e2.png)

[2016-10-13 20:46] patrick-rodgers commented on #221
Hmmm...ok, very strange. The change yesterday was definitely the release of 1.0.5 which did change the definition files. Let me grab the very latest of SPFx and see if I can duplicate and I'll get back to you on this. Sorry for the difficulties but thanks for reporting it. We'll see if we can get you sorted out.

[2016-10-13 21:26] Djemel commented on #201
Thank you very much for the implementation - it works like a charm.

[2016-10-14 13:54] Abrissirba commented on #214
I did a quick test with pnp.sp.web.getFileByServerRelativeUrl(file.ServerRelativeUrl).saveBinaryStream(content) which produced a POST to api/web/getFileByServerRelativeUrl('/Document/test.txt')/saveBinary with a 404 as result. The documentation here is quite unclear about whether the endpoint is saveBinary or saveBinaryStream, https://msdn.microsoft.com/en-us/library/office/dn450841.aspx#bk_FileSa

[2016-10-14 17:06] patrick-rodgers commented on #221
Interesting - so when I pulled latest SPFx it turns out it is still using TypeScript 1.8.* and I was able to duplicate this. Let me see if I can get some clarity on when they will drop the version which uses TS2. I thought we timed this well but seems like not the case.

[2016-10-14 19:25] patrick-rodgers commented on #214
Thanks - will have a look and do some testing.

[2016-10-17 14:32] patrick-rodgers commented on #222
This was marked as the answer on the tech community so going to close the issue here as resolved.

[2016-10-17 14:32] #222 closed

[2016-10-17 21:05] patrick-rodgers commented on #221
Quick update - drop 5 of SPFx has been released and includes TypeScript 2.0, which resolves the above issues. However I am keeping this open as there are now errors related to duplicate definitions. Working with SP Engineering on best approach to make it all work together and will report back when I have something. So still working on it.

[2016-10-18 23:16] johnnliu opened #228 "package.json "main" should point to ./dist/pnp.js"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Expected / Desired Behavior / Question
CDNs like unpkg.com (previously npmcdn.com) and CDNJS looks for mai

[2016-10-19 01:07] patrick-rodgers commented on #228
Issue here is I think that breaks auto-intellisense when you import into a TS project. I remember spending a few days on making that all work and in talking with someone from the TS team the way to do it is have a lib (folder name doesn't matter) with the main pointing to that and have the .d.ts files along side.

That being said I don't know how cdnjs works yet, haven't had a chance to really tak

[2016-10-19 09:38] Mustachoman opened #229 "Errors using gulp serve"
I am currently working on SharePoint WebParts with the new SharePoint Framework.

After following a tutorial on the Fabric UI I thought I wanted to try the PnP-JS-Core library to easily get data from SharePoint, I used normal AJAX requests before this.

However after installing the package by using `npm install --save sp-pnp-js` and then `gulp serve`-ing it I get like 210 errors saying that Typesc

[2016-10-19 11:46] Djemel opened #230 "Cross Domain multiple web application"
#### Category
[ ] Enhancement

[ ] Bug

[ X] Question

#### Expected / Desired Behavior / Question
I am using sp-pnp-js (on premise SP2013) in a Script Editor WebPart located in a web in https://webapp1.mycompany.com web application but I would need to gather data from a web in another web application https://webapp2.mycompany.com

I tried using the SP.RequestExecutory and/or CrossDomainRequest bu

[2016-10-19 13:19] patrick-rodgers commented on #230
If you are running in the browser you would execute with the permissions of the user - and provided they have permissions to the other web you want to access should be ok (let's just assume all the auth piping is working for SSO etc). - From an AUTH perspective.

But I think what you are running into is CORS limitations - yes? The cross domain libraries require an add-in web in the target, so you'

[2016-10-19 13:21] patrick-rodgers commented on #229
Please see #221 as well. If you update to the latest release of SPFx those errors will go away - but you'll see some other errors related to duplicate definitions. I am still working with the PG on the best way to resolve those.

For now you can peg your project as well at 1.0.4 and you should be able to continue working.

Will update #221 once I get an answer, but going to close this one as a dup

[2016-10-19 13:21] #229 closed

[2016-10-19 13:28] patrick-rodgers commented on #221
Had a look at this first thing this morning and don't have a perfect fix yet, but if you edit the tsd.d.ts file under "typings" folder in your project and remove/comment out these two lines things start working again as expected:

[code]

Will keep this open until we can firm up the entire experience but still working with PG on that. Thanks!

[2016-10-20 17:26] patrick-rodgers commented on #228
Have confirmed for cdnjs this isn't an issue. Working with those folks to get things submitted and live. Hopefully by sometime next week it will be published. Will publish a blog post as soon as it is.

For unpkg it does work if you do this: https://unpkg.com/sp-pnp-js@1.0.5/dist/pnp.js. I am not inclined to change things around to make it work with this or that CDN provider. The cdnjs folks have

[2016-10-20 17:26] #228 closed

[2016-10-20 19:14] mauricionr opened #231 "results is undefined while getPaged"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

#### Category
[ ] Enhancement

[X ] Bug

[ ] Question

#### Observed Behavior
sp-pnp-js v1.0.5

This list have 4500 itens.
![image](https://cloud.githubusercontent.c

[2016-10-21 21:41] patrick-rodgers commented on #214
Hi @Abrissirba ,

Check out the updates in this PR I just merged into dev: #232.  Added better support for getting and setting file content to the File class. Also now easily supports chunked uploading for large files.

Sample code for using the new methods.

[code]

[2016-10-21 21:44] patrick-rodgers commented on #214
Small note, can't actually merge currently due to permissions after transferring the repo ownership.

[2016-10-24 10:32] okaufmann opened #233 "Get web and add subsitex"
#### Category
[ ] Enhancement

[ ] Bug

[x ] Question

#### Expected / Desired Behavior / Question
I'd like to know how to retrive a Web by its url or Title and how to add a subsite to this after fetched.
I can't found any docs describing this simple task and don't know how to use it the correct way.

The following code worked for just add a subweb to a existing web. But then I don't have all the

[2016-10-24 13:17] patrick-rodgers commented on #233
The important thing to remember is that everything is async when performing an action so returns a promise. That value in your above "create" is actually a promise. So you can do this:

[code]

Then use the WebAddResult object which gives you the web that was just created as well as a "data" property which is the raw return from the creation operation in case you need that. @sksnips has a [good bl

[2016-10-24 13:47] okaufmann commented on #233
Thank you. Just found this blog too.
Is this blog linked anywhere in this Repo or Wiki? Would be useful for people new to PnP-JS-Core.

[2016-10-24 13:54] okaufmann commented on #233
And how can I get a web from a specific url?

When I do it like this, I got a unknown type and can't get webs anymore.

[code]

I noticed get() optionally want a ODataParser, should I use that? how?

[2016-10-24 15:27] patrick-rodgers commented on #231
Hi @mauricionr,

I've tried to duplicate this and cannot. What I did was create a new list and added ~150 items. I then executed a query exactly as you have above and I get back the paged items collection as expected. Is there another error like the list not existing in that web or having a different title? If you can provide a little more info I can try and repro the issue and fix it. Thanks!

[c

[2016-10-24 15:35] patrick-rodgers commented on #233
Just as you have above by using the Web object. Remember CORS limitations still apply. You should very likely never need to deal with the ODataParser stuff directly. Calling get() executes a REST query and gets an object with properties of that web. It returns a promise. If you are trying to use a web and do multiple things to it you can create a variable but remember the distinction of idea of bu

[2016-10-24 15:35] patrick-rodgers commented on #214
Now merged in dev branch

[2016-10-24 15:44] mauricionr commented on #231
Hi @patrick-rodgers

I've tried the same thing you did, create a new list and get the top

in the network tab i can see the response

![image](https://cloud.githubusercontent.com/assets/2263551/19652414/6cb9ebae-99ef-11e6-8f27-4bf6296a9575.png)

but in the then response is not the same as in network tab

![image](https://cloud.githubusercontent.com/assets/2263551/19652578/01c1abec-99f0-11e6-877f-f

[2016-10-24 15:48] patrick-rodgers commented on #231
Hmm, very strange - I just noticed you are using odata=verbose which I was not, let me play with that and see if I can reproduce, might be a parsing issue. Thanks!

[2016-10-24 15:52] okaufmann commented on #233
Cool. Thanks for your detailed explanation. I close this issue now 👍

Everything works fine :)

[2016-10-24 15:52] #233 closed

[2016-10-24 18:30] Abrissirba commented on #214
Looks good!

[2016-10-24 18:51] patrick-rodgers commented on #231
Just merged a fix into dev branch, if you get a chance please pull dev and ensure it is fixed for you as well. Thanks again for reporting this.

[2016-10-24 19:32] patrick-rodgers commented on #231
Please pull dev again maybe - I did a bad merge and killed my changes but now is all set.

[2016-10-25 21:28] Tran-Kien opened #237 "Batch API"
#### Category
[ ] Enhancement

[ ] Bug

[X] Question

I'm trying to use the batching API and I'm getting errors _Uncaught (in promise): Error: Bad Request_ when I do the following call:

`var batch = pnp.sp.createBatch();`
`pnp.sp.site.rootWeb.lists.getByTitle('MyList').items.inBatch(batch).get().then(function(data) {
  console.log(data);
}`
`batch.execute().then(function() {
  console.log("All is

[2016-10-25 22:04] patrick-rodgers commented on #237
It looks like you are using inBatch correctly, my first guess is that the title of the list is not "MyList" but rather something else.

I did just try to repo this error and could not, so please double check the list title (not url).

[2016-10-25 22:11] Tran-Kien commented on #237
Thanks for your prompt reply.

I forgot to mention that doing the call without the batch API actually works and I get the items.

I wanted to use the batch API as I have multiple calls to do and need to wait for all the calls to go on complete to perform further actions.

I have also successfully used inBatch with the current web pnp.sp.web.lists.getByTitle("MyList").items.get()

Could it be somet

[2016-10-26 09:25] kchiragowni opened #238 "Query search suggestions"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

#### Category
[X ] Enhancement

#### Question
Can we use this library to query search suggestions (..._api/search/suggest?queryText='policies') if not then I think i

[2016-10-26 09:29] kchiragowni opened #239 "Api documentation is not accessible"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

#### Category
[X ] Question

#### Question
API documentation is not accessible http://officedev.github.io/PnP-JS-Core/ getting 404 error.

Thanks!

[2016-10-26 11:27] arheom opened #240 "pnp.sp.search should also support GraphQuery and GraphRankingModel properties"
#### Category

[X] Enhancement

[ ] Bug

[ ] Question
#### Desired Behavior

I try to use pnp.sp.search to find documents trending for me from the graph. I am able to use the GraphQuery and GraphRankingModel in the search rest api, but not using the pnp.sp.search. I think the graph will be used more and more these days, so makes sense to have an easy integration with it also in the pnp.

Thanks!
B

[2016-10-26 12:30] arheom opened #241 "pnp.sp.search does not work with Refiners set"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Problem
I am trying to use pnp.sp.search to get some elements from SP Online. I am passing a list of Refiners, but I am getting the following error from search:
`{"odata.error":{"code":"-1, Microsoft.Data.OData.ODataException","message":{"lang":"en-US","value":"An unexpected 'StartObject' node was found when reading from the JSON reader. A

[2016-10-26 13:13] patrick-rodgers commented on #239
Thanks, updated the link on readme.md. The correct link is now https://sharepoint.github.io/PnP-JS-Core/. We moved the repo from officedev -> sharepoint org and are still finding all the little things that broke :) Appreciate you reporting this. Thanks!

[2016-10-26 13:13] #239 closed

[2016-10-26 13:40] patrick-rodgers commented on #214
Thanks, will close this as resolved - can reopen if the updates in dev aren't working for you. Thanks!

[2016-10-26 13:40] #214 closed

[2016-10-26 13:41] patrick-rodgers commented on #230
Closing this as answered since I haven't heard back, please reopen if you still have questions. Thanks!

[2016-10-26 13:41] #230 closed

[2016-10-26 13:42] patrick-rodgers commented on #231
Closing this as resolved, please let us know if you have further questions and thanks for reporting this issue!

[2016-10-26 13:42] #231 closed

[2016-10-26 14:11] patrick-rodgers commented on #237
Just tried again and used the following code and it works as expected. I also tried originating the query from a sub web. Are you certain the list exists in the site's root web? Can you provide the full URL that is returning the bad request? you can scrub out your main domain but need to see what the _api part is.

below works as expected:
[code]

[2016-10-26 14:39] patrick-rodgers commented on #238
This is a good idea - but need to look at the best way to integrate the functionality. As in where on the API to hang it. Thanks!

[2016-10-26 14:53] Tran-Kien commented on #237
Thanks for looking into this. It turns out I was on version 1.0.4 and as soon as I changed the version to 1.0.5 it started working.

[2016-10-26 15:27] patrick-rodgers commented on #237
Ah, ok thanks for letting me know. So the real issue is special characters in the list name causing problems with batching. I'll have a look and see if that is something we can address. Thanks.

[2016-10-26 15:31] Tran-Kien commented on #237
Just another question about the batching API: Is it possible to use pnp.sp.search with the batching API? I can't seem to find any documentation about this.

[2016-10-26 19:29] patrick-rodgers commented on #238
Have actually just merged this into the dev branch, you can now do something like below:

[code]
or

`pnp.sp.searchSuggest("item").then(r => Logger.write(JSON.stringify(r)));`

There are other options as well as defined [here](https://github.com/SharePoint/PnP-JS-Core/blob/dev/src/sharepoint/rest/searchsuggest.ts#L6).

[2016-10-26 19:29] #238 closed

[2016-10-26 22:25] kchiragowni commented on #238
That's really cool. Thanks for swift response.

I guess I have to update my local pnp js core file or reference to cdnjs right?

[2016-10-26 22:26] kchiragowni commented on #239
Thanks @patrick-rodgers

[2016-10-27 15:39] patrick-rodgers commented on #237
Been looking at this and not going to make any changes to the library to try and auto encode special chars. Going to leave that responsibility to the developers with these special chars. There are just too many possibilities for us to try and manage them automatically and once we open that door it will be an ongoing issue to support.

Search is not supported with batching.

Thanks for reporting th

[2016-10-27 15:39] #237 closed

[2016-10-27 17:42] patrick-rodgers commented on #241
Interesting, we based this off of [this resource](https://msdn.microsoft.com/en-us/library/office/jj163876.aspx) which appears to be wrong. I changed the Refiners property to a string and things seem to be working now. This is tied to PR #243 and is now in dev branch so you can try it out.

[2016-10-27 17:42] #241 closed

[2016-10-28 15:31] SaavanHirani opened #244 "File.prototype.moveTo"
#### Category
[ ] Enhancement

[ X? ] Bug

[ X ] Question

#### Expected / Desired Behavior / Question
I am trying to make use of `File.prototype.moveTo()`.

I have successfully been able to get my file by using `getFileByServerRelativeUrl()`.  I then try to use the result from that inside a `.then()` to invoke the `moveTo()`.

[code]
I have even tried using a `.then()` and anonymous function afte

[2016-10-28 15:52] arheom commented on #240
I already fixed it on my local branch (added basic Properties element to the search, so one can add more properties to the query and some properties are also the GraphQuery and GraphRankingModel). Can I get access to publish the branch and create a pull request for you to check?

[2016-10-28 15:52] patrick-rodgers commented on #244
I think you want to leave off the ".get()". Calling .get() actually invokes the request and you are getting back the file properties in the result object. Would instead suggest trying:

`$pnp.sp.crossDomainWeb($scope.appweburl, $scope.hostweburl).getFileByServerRelativeUrl(serverRelativeUrl).moveTo(finalPath, 1).then(...);`

[2016-10-28 16:24] SaavanHirani commented on #244
Hi Patrick,

Thanks for the advice, that work like a dream.

Kind regards,
Saav.

[2016-10-28 16:24] #244 closed

[2016-10-28 16:34] patrick-rodgers commented on #240
You don't need any special permissions - you would create a PR from your branch to the dev branch in this repo. I can then review and merge / provide comments as appropriate. Thanks!

[2016-10-28 16:53] patrick-rodgers commented on #221
Tracking: https://github.com/SharePoint/sp-dev-docs/issues/265

[2016-10-28 20:41] sanjeev006 opened #245 "Custom expiration date on $pnp.storage.local.getOrPut method doesn't work."
[x ] Bug

Hello - tried to use

 $pnp.storage.local.getOrPut(storageKeyName, xxx, expiration).then(
            function (data) {
                xxx
            }
        );

where expiration is custom data value.  Unfortunately custom expiration date is never passed on to PnPClientStorageWrapper.prototype.put method so local storage entry is always sets with **expire = util_1.Util.dateAdd(new Da

[2016-10-31 16:11] patrick-rodgers commented on #245
Thanks for reporting this, will have a look.

[2016-10-31 16:21] patrick-rodgers commented on #245
Fixed in #246, will be part of the next release but you can pull dev branch and try it out. Thanks again for reporting this.

[2016-10-31 16:21] #245 closed

[2016-10-31 17:29] sanjeev006 commented on #245
Thanks Patrick for quick resolution.

[2016-11-01 13:25] Abrissirba opened #247 "Xml returned in sharepoint 2013"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

#### Category
[ ] Enhancement

[* ] Bug

[ ] Question

#### Expected / Desired Behavior / Question
$pnp.sp.web.lists.get() should return JSON.

#### Observed Behavio

[2016-11-01 13:29] Abrissirba commented on #247
Found this now: https://blogs.msdn.microsoft.com/patrickrodgers/2016/06/13/pnp-jscore-1-0-1/. It might be good to include this in the documentation here: https://github.com/SharePoint/PnP-JS-Core/wiki/Install-and-Use

[2016-11-01 13:29] #247 closed

[2016-11-01 15:19] okaufmann opened #248 "Can not use latest version (1.0.5) with angular 2 setup"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Expected / Desired Behavior / Question
If I use pnp-js-core in my angular 2 app (where core-js is a dependency) i can't compile the latest version 1.0.5 anymore. 1.0.4 works if I add typings for `microsoft.ajax` and `whatwg-fetch` additionally.

There are several hints that @typings/core-js causes the problem and should be removed:
https:/

[2016-11-02 04:39] johnnliu opened #249 "batch and subwebs bug"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Expected / Desired Behavior / Question

[code]
Http Response: bad request

#### Observed Behavior

The batch seems to execute against the current web

https://github.com/SharePoint/PnP-JS-Core/blob/1f4c8ee30091aebf2d5cd72a6ba3c79a90f4ac38/src/sharepoint/rest/odata.ts#L269

calls

https://github.com/SharePoint/PnP-JS-Core/blob/1f4c8ee30091a

[2016-11-02 04:44] johnnliu commented on #249
I'm thinking a subweb.createBatch() method may make more sense, since batches has to execute against the right context web?

so I think this code looks better

var subweb = new pnp.Web("/sites/root/subweb");
var batch = subweb.createBatch();
subweb.lists.getByTitle("Documents").inBatch(batch).get();

and this code looks less great, but serviceable

var subweb = new pnp.Web("/sites/root/subweb");
v

[2016-11-02 13:30] patrick-rodgers commented on #248
The issue is that if you include 1.0.5 in a non-angular project and remove @types/corejs you get errors on build. So I am not convinced that the 100% correct answer is to remove it as a dependency. I'll take a look at this a little deeper but seems to be caused by decisions made in the angular project.

[2016-11-02 13:51] patrick-rodgers commented on #249
Thanks for reporting this, let me think on it a bit. Definitely don't want to make someone pass a path twice as in your second example but also considering something like:

`pnp.sp.createBatch(subweb);`

End of the day certainly a bug to fix.

[2016-11-02 14:58] #240 closed

[2016-11-02 16:34] patrick-rodgers commented on #249
Working on the web.createBatch syntax but change is actually affecting the plumbing more than I thought so will take a bit.

[2016-11-02 18:56] patrick-rodgers commented on #249
Just merged #251 which contains this update. Added createBatch to both Web and Site objects as well as left pnp.sp.createBatch as is for proper compatibility. Pull dev and give it a try.

[2016-11-02 19:40] patrick-rodgers commented on #248
Turns out I can't duplicate this. I followed the steps in the article you linked and create a project with all the files, npm install, ran it and everything worked (I could look at the web page with the logo). Then I

`npm install sp-pnp-js --save`

Updated the app.component.ts and app.component.html to put a random string on the page using the pnp.util.getRandomString method. webpack bundle auto

[2016-11-04 05:33] bbouski commented on #170
I have the same issue '404 not found' on a publishing site, retrieving user specific items from a list in the rootWeb.

[code]

[2016-11-04 14:59] patrick-rodgers commented on #170
Hi @mauricionr & @bbouski,

Just had a look on this today and could not duplicate. I think the issue is that you are making the request before the _spPageContextInfo is available to the library. Before making the request you can either use something like jquery's $(function() { // ... }); syntax or create a loop to check for existing of that var and wait. I don't want to add something like this to

[2016-11-07 16:53] patrick-rodgers commented on #248
@okaufmann - were you able to retest this or provide any additional details? If not I'll be closing this as unable to reproduce. Thanks!

[2016-11-07 16:53] patrick-rodgers commented on #249
@johnnliu - were you able to pull dev and have a look? Will be looking to close this shortly as I believe it to be resolved. Thanks!

[2016-11-07 20:44] bbouski commented on #170
Thanks after waiting for page context to be available it runs fine.
 ExecuteOrDelayUntilScriptLoaded(function(){
                        $pnp.sp.site.rootWeb.lists.getByTitle('User Items').getItemsByCAMLQuery({ ViewXml: viewXml }).then(resolve);
                    }, "core.js");

[2016-11-08 16:15] patrick-rodgers commented on #170
Ok, going to close - please do reopen is this issue is not actually related to the page load time

[2016-11-08 16:15] #170 closed

[2016-11-08 17:30] patrick-rodgers commented on #248
Going to close this as unable to reproduce, please do reopen if you can provide additional details. Thanks!

[2016-11-08 17:31] patrick-rodgers commented on #249
Going to close this as resolved, please reopen if you find issues. Thanks!

[2016-11-08 17:31] #249 closed

[2016-11-10 10:20] Hennadiy opened #253 "Get AllProperties from Web"
#### Category
[ + ] Enhancement

[ - ] Bug

[ + ] Question

I want to get AllProperties from web:
`pnp.sp.web.select('AllProperties').get()`
but this returns to me only url which i can query and i need to make additional service call
[code]

Is there any better way to get it?

[2016-11-10 11:17] mauricionr commented on #253
@Hennadiy try `pnp.sp.web.select('AllProperties').expand('AllProperties').get()`

[2016-11-10 11:23] Hennadiy commented on #253
Great! Thank you.

[2016-11-10 11:23] #253 closed

[2016-11-11 13:25] Abrissirba commented on #248
I'm getting this error too after upgrading to 1.0.6. Will investigate more and come back

[2016-11-11 14:27] Abrissirba opened #255 "Request body not added when using SPRequestExecutorClient"
#### Category
[ ] Enhancement

[ *] Bug

[ ] Question

#### Expected / Desired Behavior / Question
The following code, pnp.sp.crossDomainWeb(this.sharePointConfigService.addInWebUrl, this.sharePointConfigService.hostWebUrl).getFileByServerRelativeUrl(serverRelativeUrl).setContent(content), should update the content of the specified file.

#### Observed Behavior
The request body is null and there t

[2016-11-11 15:00] Abrissirba opened #256 "Response 204 with "" instead of null"
#### Category
[ ] Enhancement

[ *] Bug

[ ] Question

#### Expected / Desired Behavior / Question
pnp.sp.crossDomainWeb(this.sharePointConfigService.addInWebUrl, this.sharePointConfigService.hostWebUrl).getFileByServerRelativeUrl(serverRelativeUrl).setContent(content); should update the content of the file without throwing an exception.

#### Observed Behavior
ConvertToResponse in this file, http

[2016-11-11 15:09] Abrissirba opened #257 "Get file content as JSON"
#### Category
[ ] Enhancement

[ ] Bug

[* ] Question

In previous version it was possible to get the file content as a json object by getFileByServerRelativeUrl(serverRelativeUrl).value.get(). Is this possible in 1.0.6 or do I need to JSON.parse() on the response?

[2016-11-12 15:23] patrick-rodgers commented on #257
You should be able to use the getText() method on File which was added with 1.0.6. That replaces the value along with getBlob() and getBuffer(). Took away value in favor of the more explicit methods. Let me know if that works for you.

[2016-11-12 15:26] patrick-rodgers commented on #255
Great catch, thanks for finding and fixing. Just merged the PR into dev. Thanks!

[2016-11-12 15:26] #255 closed

[2016-11-12 15:34] Abrissirba commented on #257
Yes, getText gets the content as text but when I used the value.get() the result was an object and not a string. This is not a big issue since a can do the parsing myself but it would be nice if there was a getJson aswell :)

[2016-11-12 15:58] patrick-rodgers commented on #256
Wouldn't we want here to just anytime the body === "" to pass null instead? Does the status code matter, or is this really specific to a Response object with a status code 204?

[2016-11-12 15:59] patrick-rodgers commented on #257
Makes sense, will add a getJSON() on File.

[2016-11-12 16:04] patrick-rodgers commented on #257
Merged in #259 to dev

[2016-11-12 16:04] #257 closed

[2016-11-12 16:08] patrick-rodgers commented on #248
I'll go ahead and reopen this, but if someone could please give me the additional steps to duplicate it? I followed what was in the article linked above and did not have issues. Are you installing other libraries? What specific actions are you taking with the library? What changes have you made to the default angular project as outlined in the article?

[2016-11-12 16:48] Abrissirba commented on #257
Thanks Patrick! :)

[2016-11-12 16:53] Abrissirba commented on #256
From my understanding of things. A 204 response is a "No Content" response and therefore it should always be empty. Other status codes can return values in the body and an empty string is a value and should therefore not be converted to null.

[2016-11-16 15:28] patrick-rodgers commented on #256
So looking at fixing this, should the logic be if 204 then null? we really don't care to check if the body is "" or not, right?

[2016-11-16 15:46] patrick-rodgers commented on #256
Just merged this fix into dev - any chance you can pull dev and test in your scenario to ensure things are working for you @Abrissirba? Thanks!

[2016-11-16 16:06] Trickass opened #262 "SharePoint Framework's gulp serve fails after adding sp-pnp-js"
#### Category
[ ] Enhancement

[ X] Bug

[ ] Question

#### Observed Behavior
Running gulp serve on SharePoint Framework project fails after adding and using PNP JS.

#### Steps to Reproduce
Create a new SPFx webpart, install and import `sp-pnp-js`, and run `gulp serve`

[code]

#### Gulp serve output

[2016-11-16 16:09] patrick-rodgers commented on #262
This is a duplicate of #221 - the work around is to edit the typings and remove:

[code]

Obviously this is not ideal, but they are in the process of moving to @types system which will fix this before GA. Thanks!

[2016-11-16 16:09] #262 closed

[2016-11-16 19:57] patrick-rodgers commented on #248
Just an update, still researching. I've removed core-js locally for myself and added es6-promise but an stuck on fetch typings file referencing es6 types when it isn't needed, as discussed [here](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/11290). So hoping that gets resolved and unblocks us. I don't really want to add a shim file to cover those types but might have to as a stop gap.

[2016-11-17 09:52] laimonas opened #263 "Question about attachments"
#### Category
[ ] Enhancement

[ ] Bug

[ x] Question

#### Expected / Desired Behavior / Question

Any example how to add attachment to existing item or new item (base64 image)?

Thanks!

[2016-11-17 15:09] patrick-rodgers commented on #263
Great question - we don't currently support attachments (image or other) but we had already been discussing that it was a good thing to take a look at adding. This helps jump it up the priorities so expect it in the next release. Thanks for your suggestion!

[2016-11-17 15:53] koltyakov commented on #263
Hi there,

As was mentioned above, `attachmentFiles` is implemented as a QueryableCollection in read-only mode.
I was managed to extend current implementation with the class which allows basic add and delete operations for item's attachment.

@patrick-rodgers, as a superior master of the library, please take a glance at [this pull request](https://github.com/SharePoint/PnP-JS-Core/pull/264). :)

O

[2016-11-17 16:43] laimonas commented on #263
Thank you both. Will be waiting next release :)

[2016-11-17 18:51] dev4201 opened #265 "Typescript compile error when trying to save multiselect choices object"
#### Category
[x] Bug
I have a multiselect value that I'm trying to save back to SharePoint.

**Here is what works**
I was able to figure out a way to save multiselect choices by executing the following script on the site:

`$pnp.sp.web.lists.getByTitle('My List').items.add({
Title: 'Test Title',
MultiChoiceColumn:  {"results":["choice value 1", "choice value 2"]}
  })`

But, when I try doing the

[2016-11-18 07:42] Trickass commented on #262
Thank you, this made the project build indeed.

However, I did get an error when trying to add the webpart on a classic SharePoint page, after deploying to the App Catalog.
Don't know if this is related...

[2016-11-18 14:41] russgove opened #266 "Issues with Batching"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

#### Category
[ ] Enhancement

[x] Bug

[ ] Question

I hava a typescript method deined as
 public loadData(forceReload: boolean): Promise<SPSecurityInfo> {
    let

[2016-11-18 15:19] patrick-rodgers commented on #265
Thanks for reporting this @dev4201, we'll try and have a look early next week. Thanks!

[2016-11-18 15:20] patrick-rodgers commented on #266
Thanks for reporting this @russgove, we'll try and have a look early next week and let you know what we find. Thanks!

[2016-11-21 10:03] PeppeDotNet opened #267 "Error "TS2300: Duplicate identifier 'Promise'" after installing in a SPFx project"
#### Category
Question

#### Expected / Desired Behavior / Question
After installing pnp-js-core I cannot build my project. There is something that I've missed?

#### Observed Behavior
I install pnp-js-core using npm in a SPFx project. Once downloaded I tried to build the project using "gulp build" and I get a lot of errors like this one:
[03:49:51] Error - typescript - node_modules/@types/core-js

[2016-11-21 13:18] KEMiCZA commented on #267
Hi PeppeDotNet

The following works for me:
npm install **sp-pnp-js** --save

You used: **pnp-js-core**

Maybe there's a difference? When I used "pnp-js-core" NPM couldn't find the package.

[2016-11-21 13:52] bernd7636 commented on #169
Hello!
Is there any progress about the JSOM provisioning engine? I still can only find the "applyTemplate" function (https://github.com/SharePoint/PnP-JS-Core/blob/69a38f8/src/sharepoint/provisioning/provisioning.ts#L48) in the library. How can I create a JSON template (with Pnp JS)? Or is there a way to use Pnp PowerShell to create a suitable JSON template?
Thanks in advance!
Bernd

[2016-11-21 14:09] patrick-rodgers commented on #267
This is actually a duplicate of #221. I've updated the title of that issue to try and make it easier to find. The workaround is described in that thread and we are working with the PG to ensure things are sorted by release. Thanks for reporting this.

[2016-11-21 14:09] #267 closed

[2016-11-21 15:21] patrick-rodgers commented on #169
@bernd7636 - no, as I said above if there is interest from the community to expand this capability would be looking for one or more folks to step up and own it. Building out provisioning in js core is not currently a priority for the core team - but we would absolutely accept PRs. Recommendation would be to use the provisioning in the CSOM core and PowerShell as they are both more feature rich and

[2016-11-22 14:54] oka-garaio opened #268 "'Headers' is undefined in Internet Explorer"
#### Category
[ ] Enhancement

[ x] Bug

[ ] Question

#### Expected / Desired Behavior / Question
I just setup a little test project (Basically angular webpack example from https://angular.io/docs/ts/latest/guide/webpack.html)

Then i uses pnp inside to fetch the title of the current web: https://github.com/oka-garaio/angular-with-webpack/blob/pnp-bug-268/src/app/app.component.ts#L14

When I open

[2016-11-22 15:20] KEMiCZA commented on #268
Same issue as: https://github.com/SharePoint/PnP-JS-Core/issues/167 ?

Make sure you include the correct polyfills. IE doesn't support "Headers" OOTB.

[2016-11-22 17:45] oka-garaio commented on #248
I just found out that there was the following config section present in our tsconfig.js but not in the angular-webpack-tutorial ones:

[code]

When this was removed, it works. (This was introduced by typescript 2.0)

Can you proof this @Abrissirba ?

[2016-11-23 10:56] biste5 commented on #221
Hi Patrick,

I'm encountering the same error, when trying to include PnP-JS in an existing TS project (it's NOT an SPFx project) where I was previously already using ES6-Promise package, but not PnP-JS.

In the screenshot below you can see as soon as I install PnP-JS, I get that error during build.
Further, in my case, I can't apply the workaround above as I'm not using typings, but trying to use

[2016-11-23 13:46] Abrissirba commented on #248
Same for me, when I removed the "lib" property from tsconfig the errors disappears :) Do you have any more information/links about why is this is happening in typescript 2.0 @oka-garaio?

[2016-11-23 14:13] patrick-rodgers commented on #268
Closing this - also covered in the wiki [here](https://github.com/SharePoint/PnP-JS-Core/wiki/Getting-Started:-Install-&-Use) in the Polyfill section. Thanks for your interest in the library!

[2016-11-23 14:13] #268 closed

[2016-11-23 14:17] patrick-rodgers commented on #221
@biste5 - I am currently working on dropping the reference to core-js in @types but am blocked as discussed in [this thread](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/11290). I am honestly considering just removing all type information from the npm package and forcing folks to install the typings using whatever system they want. I think that is less than ideal experience but this i

[2016-11-23 14:41] patrick-rodgers commented on #266
Hi @russgove - can you try moving the ".inBatch(batch)" to be the last thing before the .get() calls? Based on the code I think the batch is actually empty.

[2016-11-23 14:48] patrick-rodgers commented on #265
@dev4201 - so just having a chance to look at this. Seems like the issue is with the typing of the TypedHash parameter? There is no way we can add a typing to cover all the cases so might need to expand the typing there to "any". I'll have a look as there would then be at least a few other places where this change is required.

Glad you are enjoying the library :)

[2016-11-23 15:51] Abrissirba commented on #256
It seems to be working fine now :)

[2016-11-23 15:59] patrick-rodgers commented on #256
Great, thanks for verifying!

[2016-11-23 15:59] #256 closed

[2016-11-23 17:05] patrick-rodgers commented on #263
Just added support via #264, if you pull dev you can check out the changes now. You'll find a attachmentfiles property on item. Going to close this issue. Thanks again for your interest!

[2016-11-23 17:05] #263 closed

[2016-11-24 16:34] russgove commented on #266
Thanks Patrick,. Moving inBatch() to the end fixed the issue.

[2016-11-27 19:20] patrick-rodgers commented on #266
Glad to hear it, I'll close the issue now. Cheers!

[2016-11-27 19:20] #266 closed

[2016-11-30 14:39] oka-garaio commented on #248
The `lib` option is a new feature in ts 2.0. It controlls, which libraries should be included into the compilation. As far as I can see, does angular 2.0 with his own way by including es6 directly via typings (https://github.com/oka-garaio/angular-with-webpack/blob/master/src/polyfills.ts#L1).

This then cause the dublicate type definitions.

Discussion in the Typescript repo: https://github.com/M

[2016-12-01 16:45] #248 closed

[2016-12-01 19:44] mauricionr opened #272 "How to get a value from HiperLinkImagem/PublishingPageImage"
#### Category
[ ] Enhancement

[ ] Bug

[X ] Question

How

It's possible like in(CSOM)?

#### Expected / Desired Behavior / Question
Get a value from column type HiperLinkImagem/PublishingPageImage

#### Observed Behavior
The property was not found in the response

#### Steps to Reproduce
pnp.sp.web.lists.getByTitle(this.title).items.orderBy('Ordem').get()

Thanks!

[2016-12-08 01:45] rgarita commented on #265
Hello, just to add some extra info.

I'm having the same issue with a multi-user field. This also is affecting the update() function.

The workaround we found was temporary modify the typing for the operation allowing Objects.

Raul

[2016-12-08 14:37] patrick-rodgers commented on #265
Thanks @rgarita - have this actually fixed but not able to merge to dev yet due to some other things I'm working on. Will discuss on today's call if you can make it.

[2016-12-17 21:26] russgove opened #273 "New etag is not returned after calling update on a list item"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

#### Category
[ x] Enhancement

[ ] Bug

[x ] Question

#### Expected / Desired Behavior / Question
using this code:
const promise = web.lists.getById(listid).items.

[2016-12-19 20:05] russgove commented on #273
Here is  tthe raw hson from the update request:
HTTP/1.1 204 No Content
Cache-Control: private, max-age=0
Expires: Sun, 04 Dec 2016 20:02:59 GMT
Last-Modified: Mon, 19 Dec 2016 20:02:59 GMT
ETag: "4"
Server: Microsoft-IIS/8.5
....

I need to use that etag on my net update.

[2016-12-20 16:06] patrick-rodgers commented on #273
Hi @russgove -

You do not have to use the etag for updates, it is optional and the default "*" will update regardless of the last etag. But, I see your point. I'll try and have a look over the holidays. Thanks,

Patrick

[2016-12-20 16:41] russgove opened #274 "Cannot retrieve error info after an invalid request is made"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

#### Category
[x] Enhancement

[ ] Bug

[ x] Question

I have code that lets the user enter the fields he wats to select from a list, and then retrives the data and

[2016-12-20 16:42] mauricionr commented on #272
Kind duplicatated with this #178

[2016-12-20 16:42] #272 closed

[2016-12-20 17:56] tavikukko commented on #274
Found the same issue, reported here -> #270 . @patrick-rodgers got fix for that, not yet checked in thou.

[2016-12-20 18:07] patrick-rodgers commented on #274
Yes, this bug is fixed and will be included in the 2.0 release. Issue was not returning after throwing the error within the promise (which allowed the current code to execute). So now everything is handled in a single returned promise for simplicity. Going to leave this open for now in case others report it so we can refer until we get it merged.

[2016-12-20 18:19] mauricionr commented on #169
@patrick-rodgers as i saw in the last bi-weekly the provisioning is not part of this library(removed), right?

Thanks!

[2016-12-20 21:58] patrick-rodgers commented on #169
@mauricionr - yes that is correct. We will be removing provisioning from this library with the upcoming release of 2.0 - but we will be moving it to another repo so it can be managed as a separate project. As part of that we will be looking for folks from the community to "take ownership" and drive the growth of the provisioning code. Thanks!

[2016-12-21 09:57] olemp commented on #169
@patrick-rodgers I will have a look at the provisioning in the beginning of 2017. Will look into documentation.

[2016-12-21 09:59] olemp commented on #169
@patrick-rodgers We (my company) have a product/solution which is built on a WSP Web Template today. We want this to use client side provisioning, so during this transition, I'll be doing some work on making the provisioning code solid.

Not all customers have the budget for site collection provisioning, and for some subsites is more than enough.

[2016-12-21 10:01] olemp commented on #169
@arheom The provisioning code is a port from https://github.com/Puzzlepart/js-sites-core which has been used for several customer projects.

Here's a full sample:
https://github.com/Puzzlepart/js-sites-core/blob/master/samples/Full-Sample.md

[2016-12-22 19:31] russgove opened #279 "Issue with batching"
Hi,
i have the following code in a webpart:
[code]

The line " return securityInfo;" is running before the individual hanlers are run.
I think all the nested calls shoul be resolved before the entire batch is resolved.

I am using build v1.0.6 .

[2016-12-23 08:44] tavikukko commented on #279
Try moving the inBatch just before the get() method.

`  pnp.sp.web.siteUsers.inBatch(batch).get().then((response) => {
`
`pnp.sp.web.roleDefinitions.expand("BasePermissions").inBatch(batch).get().then((response) => {`

[2016-12-23 11:36] #279 closed

[2016-12-23 11:37] russgove commented on #279
that works

[2016-12-25 04:18] patrick-rodgers commented on #274
If you get a chance, please test you scenario with the dev branch so we can ensure it is fixed as expected. Thanks! Dev branch is currently what will be 2.0

[2016-12-25 16:49] russgove commented on #274
I downloaded the dev branch to a new folder, ran npm install, and then gulp serve. I got this error:
D:\github3\PNP-JS-Core-V2 (master) (sp-pnp-js@2.0.0)
λ gulp serve
D:\github3\PNP-JS-Core-V2\gulptasks\@configuration.js:5
    let pkg = require("../package.json");
    ^^^

SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode
    at exports.runI

[2016-12-25 22:42] tavikukko commented on #274
Dev Branch does not build. Tried to fix by adding "use strict" to @configuration.js, build.js, test.js, serve.js, sync.js but there were also errors in digestcache.ts, nodefetchclient.ts, items.ts and so on. There is something wrong with this branch, some imports might be missing, didn't have time to look closer. @patrick-rodgers should take fresh clone of this branch and see whats going on. Happy

[2016-12-25 22:53] patrick-rodgers commented on #274
You'll need to upgrade to node 6.9.* which is the latest LTS version. Includes support for many es6 features. What version of node are you two running? Have mentioned this on several of the calls but haven't written up the migration article yet for wiki.

[2016-12-26 08:00] tavikukko commented on #274
Upgraded node to 6.9.1 but still some type errors

**src/net/digestcache.ts(40,42):** error TS2339: Property 'FormDigestValue' does not exist on type 'Response'.
**src/net/digestcache.ts(41,32):** error TS2339: Property 'FormDigestTimeoutSeconds' does not exist on type 'Response'.
**src/net/nodefetchclient.ts(55,16):** error TS2322: Type 'Promise<string>' is not assignable to type 'Promise<AuthTok

[2016-12-26 17:07] patrick-rodgers commented on #274
It appears that there was a change to the TS transpiler between when I did the initial check-in and now. Those issues did not appear until I update TS. What is strange is mostly it seems to no longer be able to resolve the child promise returns correctly and is creating the error based on the first promise in the chain's return type. I am making updates to deal with this and will push them in soon

[2016-12-26 17:53] patrick-rodgers commented on #274
updates pushed

[2016-12-26 19:39] russgove commented on #274
if I upgrade to node 6.9.1 should I expect my old code repos to work?

[2016-12-26 20:11] russgove commented on #274
OK, I upgraded t0 node 6.9.2 and got the latest from the dev branch.
gulp package ran fine.
Gulp serve threw a bunch of errors:

ERROR in D:\github3\PNP-JS-Core-V2\tests\utils\util.test.ts
(8,34): error TS7006: Parameter 'a' implicitly has an 'any' type.

ERROR in D:\github3\PNP-JS-Core-V2\tests\utils\util.test.ts
(8,39): error TS2683: 'this' implicitly has type 'any' because it does not have a ty

[2016-12-26 20:35] russgove commented on #274
And after upgrading to node 6.9.2, I went BACK to my old project (an spfx project that users pnp-js-core). I  ran a gulp serve and got an error saying  things had change since I last ran npm install, So I deleted my node_modules directory and ran npm install.
now when I run gulp serve on my old project , all I get is
D:\github3\spfx-reactgrid2 (dev) (spfxreactgrid@0.0.1)
λ gulp serve
[15:27:29] Er

[2016-12-26 21:03] tavikukko commented on #274
Seems to build now ok. I tested the new exception handler, something needs to be fixed:

run this:
[code]

I would still prefer that the exception handler would return json object, using response.json() method, which returns much more information about the error.

So now (when we get rid of this **_this2.Log is not a function** error), when we receive an error,
we still need to read that json from

[2016-12-27 19:18] patrick-rodgers commented on #274
I'll admit this thread is getting hard to follow.

@russgove - I am not sure, you can use [NVM](https://github.com/creationix/nvm) to manage multiple versions of node on your machine. I have tested node 6.9.* with the latest SPFx release but haven't gone back and tried it with all of them so I am not sure what you might have run into. I do now see the errors when you run gulp serve and am working

[2016-12-27 21:37] tavikukko commented on #274
Ok, I was not aware of the logger listeners, will start using that now. Tried to find good sample how to use the logger but no luck. How do I get that message logged in my console using logger listeners?

[2016-12-27 23:47] tavikukko commented on #274
ok, got it now.

[code]

[2016-12-28 15:30] J0hnRoger commented on #229
Hello,

Same problem here, but I don't use SPFx,  I use the project template provided by VesaJuvonen in his demonstration of modern web dev' with SPO365 :  https://github.com/SharePoint/sp-dev-samples/tree/master/Samples/react-generic-app

![image](https://cloud.githubusercontent.com/assets/749433/21524943/0ecb61d6-cd1a-11e6-9ede-715323a84f12.png)

I update the @types but problem still here :

![i

[2016-12-30 15:15] tavikukko opened #281 "Uncaught (in promise) TypeError: this.getLogEntry is not a function"
#### Category
[ ] Enhancement

[x ] Bug

[x] Question

#### Observed Behavior / Steps to Reproduce

When running the following code, it should create error (cause the List does not exist). It does, but seems there is something wrong in the Error logging handling. Or is there somethign wrong with my code? I'm using the latest dev branch.

[code]

will output to console the following error:
**Uncaug

[2016-12-30 16:34] patrick-rodgers commented on #281
Your code looks fine, taking a look now. I don't get that error so trying to find where it is happening. I might just be missing it in my testing. Thanks for reporting this.

[2016-12-30 17:52] tavikukko commented on #281
It might also be something to do with inheriting from Error.
I created sample in [typescript playground](https://www.typescriptlang.org/play/index.html#src=%2F%2F%20uncomment%20these%20to%20test%20when%20inheriting%20from%20Error%0D%0A%2F%2Fabstract%20class%20Exception%20extends%20Error%20%7B%0D%0Aabstract%20class%20Exception%20%7B%0D%0A%20%20%20%20%2F**%0D%0A%20%20%20%20%20*%20%40param%20name%20T

[2016-12-30 18:38] tavikukko commented on #281
@patrick-rodgers [here's a working sample](https://www.typescriptlang.org/play/index.html#src=%2F%2F%20uncomment%20these%20to%20test%20when%20inheriting%20from%20Error%0D%0A%2F%2Fabstract%20class%20Exception%20extends%20Error%20%7B%0D%0Aabstract%20class%20Exception%20%7B%0D%0A%20%20%20%20%2F**%0D%0A%20%20%20%20%20*%20%40param%20name%20The%20Name%20given%20to%20the%20Error%20instance%0D%0A%20%20%20

[2016-12-30 18:38] patrick-rodgers commented on #281
Fixed and merged in #282 - give that a try please.

[2016-12-30 18:44] patrick-rodgers commented on #265
This is fixed in dev branch, add/update now take TypedHash<any>.

[2016-12-30 18:44] #265 closed

[2016-12-30 19:22] patrick-rodgers commented on #274
Can we close this issue as the original bug is fixed. If there are other bugs new issues can be opened, but seems like what this was originally opened for is now fixed. Thoughts?

[2016-12-30 20:38] tavikukko commented on #281
yes it works, thanks.

[2016-12-30 20:58] tavikukko commented on #274
Yes, the bug is fixed. There was also need to return the fetch response error to the client, it is very useful in the **catch block** and i think it was the original request from @russgove to get that error and to be able display it to the user. But lets close this and open new issue, if this needs to be discussed more.

[2017-01-02 14:50] #281 closed

[2017-01-02 14:51] patrick-rodgers commented on #274
Ok, going to close this. I have updated the error to include the json body in the object so that console.log(e) will work as folks expect. That should meet the original ask as well as address the other points brought up in the thread. Change is in dev branch.

[2017-01-02 14:51] #274 closed

[2017-01-02 19:02] patrick-rodgers commented on #273
@russgove - took a look at this and ended up rewriting the odata pipeline to fully move the responsibility for parsing responses to the parser and removed all logic from the Queryable class. This gives full control to the parser but should be transparent to consumers. Offshoot of this is that I added a parser to synthesize an object with an "odata.etag" property from the headers when you call item

[2017-01-02 19:02] #273 closed

[2017-01-02 23:15] tavikukko commented on #274
tested and works well, thanks!

[2017-01-03 13:57] gauravgoyal5 opened #284 "How to open web by url i.e."
How to open web by url i.e.
var MyWeb = $pnp.sp.crossDomainWeb('https://mysharepoint.sharepoint.com');

I am not able to open it up. It is showing error
Error: $pnp.sp.Web is not a function

[2017-01-03 14:48] russgove commented on #284
you can try
import {Web} from pnp
var MyWeb = new Web('https://mysharepoint.sharepoint.com');

[2017-01-03 15:07] patrick-rodgers commented on #284
You can also review the discussion in [this thread](https://github.com/SharePoint/PnP-JS-Core/issues/233).

[2017-01-03 19:06] mauricionr opened #285 "Adding multiple itens, saving last object in the context for all add's"
#### Category
[x] Enhancement

[x] Bug

[ ] Question

#### Expected / Desired Behavior / Question
Use each object passed in add method

#### Observed Behavior
For each object  i change the `task.DataObrigacoes`, and pass to add method, but is
Saving the last object passed to add method for each post request

I've tried use Batch but still with the same behavior

#### Steps to Reproduce
While loopi

[2017-01-03 20:22] patrick-rodgers commented on #285
Try this:

[code]

[2017-01-03 22:23] mauricionr commented on #285
hey @patrick-rodgers i got the same issue

![image](https://cloud.githubusercontent.com/assets/2263551/21625088/1dbd55b0-d1f1-11e6-8e0f-43292a62919d.png)

![image](https://cloud.githubusercontent.com/assets/2263551/21625242/e1708676-d1f1-11e6-9e58-da00eb8eda31.png)

ẁhen getAs is resolved inside add method, the properties is always de last properties received, adding always the same object

[code]

[2017-01-03 22:54] patrick-rodgers commented on #285
When I tested the code I pasted above I got 5 items with different titles. The properties will be maintained across the getAs because they are being passed into the function and are part of the closure. So I don't think that is the problem. If you run that example code does it create unique items for you?

Your second question - why do we have to do that each time - is simplicity. We have to have

[2017-01-04 05:36] gauravgoyal5 commented on #233
How to open web by url i.e.
var MyWeb = $pnp.sp.crossDomainWeb('https://mysharepoint.sharepoint.com');

I am not able to open it up. It is showing error
Error: $pnp.sp.Web is not a function

I am using AngularJS 1.X. I am not using Angular 2 and Type Script.
How can I use web object for other web in current site collection?
i.e. I am on the root site collection but want to show data from a sub sit

[2017-01-04 10:32] mauricionr commented on #285
hey @patrick-rodgers, in my case i need `addMany(items: any[])`

Thanks!

[2017-01-04 11:22] russgove commented on #284
you can try
import {Web} from pnp
var MyWeb = new Web('https://mysharepoint.sharepoint.com/some/other/web')

[2017-01-04 12:08] mauricionr commented on #285
@patrick-rodgers assign a new object to task solve my problem adding multiple items in a loop with different target dates for each item.

[code]

[2017-01-04 13:28] #285 closed

[2017-01-04 13:50] gauravgoyal5 commented on #284
This will work with TypeScript. I am not using TypeScript. I am using simple JavaScript.

[2017-01-04 14:14] patrick-rodgers commented on #284
I think then you need something like this:

[code]

The objects are exported at the top level. You should be able to see them all in a debugger as well to give you an idea what is available.

[2017-01-04 14:37] karthik15981 commented on #284
I am using the following code

[code]

With this code I got a 406 NOT ACCEPTABLE error

_fetchclient.js:6 GET http://xxx/sites/xxx/_api/web?$select=Title 406 (Not Acceptable)
Uncaught (in promise) Error making HttpClient request in queryable: Not Acceptable_

To fix this I had to edit the pnp.js file and change the following code:

[code]

to

[code]

After I made this change, it works fine.

Is t

[2017-01-04 14:57] patrick-rodgers commented on #284
Yes, you can just set the global headers if you are working in an environment that does not support the minimal metadata as outlined in [this blog post](https://blogs.msdn.microsoft.com/patrickrodgers/2016/06/13/pnp-jscore-1-0-1/). Editing the pnp.js file directly isn't recommended.

[2017-01-04 15:25] karthik15981 commented on #284
Thank you!!

Did as mentioned in the blog post and it works like a charm.

Would be nice to have this _setup_ option mentioned in the [wiki getting started](https://github.com/SharePoint/PnP-JS-Core/wiki/Getting-Started:-Install-&-Use) page.  Would definitely help newbies like me out there :)